#block-content {
    border-radius: var(--cblock-bradius) 0 0;
    flex: 1 1 fit-content;

    background-color: var(--cblock-bgcolor);
    overflow: hidden; /* for vertical/horizontal scroll */
    position: relative;
}

.content-section {
    position: absolute;
    display: flex;
    visibility: hidden;
    width: 100%;

    flex-flow: column nowrap;
    gap: var(--csection-vgap);
    height: 100%; /* for vertical scroll */
    padding: var(--csection-vpadding) var(--csection-hpadding);
}

.content-section.active {
    visibility: visible;
}

.content-section > h2 {
    flex: 0 0 fit-content;

    color: var(--csection-h2-color);
    font-size: var(--csection-h2-fsize);
    font-weight: var(--csection-h2-fweight);
}

.content-section > hr {
    flex: 0 0 auto;
    height: var(--csection-hr-height);
    margin-left: var(--csection-hr-lmargin);
    width: var(--csection-hr-width);

    background-color: var(--csection-hr-bgcolor);
}

.section-ctr1 {
    border-radius: var(--sctr1-bradius);
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: column nowrap;
    gap: var(--sctr1-vgap);
    padding: var(--sctr1-vpadding) var(--sctr1-hpadding);

    background-color: var(--sctr1-bgcolor);
    overflow-y: auto; /* for vertical scroll */

    scrollbar-gutter: stable;
}

.section-ctr1::-webkit-scrollbar-track {
    margin: var(--sctr1-sb-track-margin);
}

.section-ctr2 {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--sctr2-vgap);
}

.section-ctr2 > h3 {
    flex: 0 0 fit-content;

    color: var(--sctr2-h3-color);
    font-size: var(--sctr2-h3-fsize);
    font-weight: var(--sctr2-h3-fweight);
}

.section-ctr2 > hr {
    flex: 0 0 auto;
    height: var(--sctr2-hr-height);
    margin-left: var(--sctr2-hr-lmargin);
    width: var(--sctr2-hr-width);

    background-color: var(--sctr2-hr-bgcolor);
}
