#content-panel {
    border-radius: var(--cp-bradius) 0 0;
    flex: 1 1 fit-content;

    background-color: var(--pmc-sh4);
    overflow: hidden; /* for vertical/horizontal scroll */
}

.cp-cl1 {
    display: none;
    flex-flow: column nowrap;
    gap: var(--cl1-vgap);
    height: 100%; /* for vertical scroll */
    padding: var(--cl1-vpadding) var(--cl1-hpadding);
}

.cp-cl1.active {
    display: flex;
}

.cp-cl1 > h2 {
    flex: 0 0 fit-content;

    color: var(--cpc-sh1);
    font-size: var(--cl1-h2-fsize);
    font-weight: var(--cl1-h2-fweight);
}

.cp-cl1 > hr {
    flex: 0 0 auto;
    height: var(--def-hr-height);
    margin-left: var(--cl1-hr-lmargin);
    width: var(--cl1-hr-width);

    background-color: var(--cpc-sh4);
}

.cp-cl2 {
    border-radius: var(--cl2-bradius);
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: column nowrap;
    gap: var(--cl2-vgap);
    padding: var(--cl2-vpadding) var(--cl2-hpadding);

    background-color: var(--pmc-sh5);
    overflow-y: auto; /* for vertical scroll */

    scrollbar-gutter: stable;
}

.cp-cl2::-webkit-scrollbar-track {
    margin: var(--cl2-sb-track-margin);
}

.cp-cl3  {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--cl3-vgap);
}

.cp-cl3 > h3 {
    flex: 0 0 fit-content;

    color: var(--cpc-sh1);
    font-size: var(--cl3-h3-fsize);
    font-weight: var(--cl3-h3-fweight);
}

.cp-cl3 > hr {
    flex: 0 0 auto;
    height: var(--def-hr-height);
    margin-left: var(--cl3-hr-lmargin);
    width: var(--cl3-hr-width);

    background-color: var(--cpc-sh5);
}
