.directory-ctr {
    border: var(--dctr-bwidth) solid var(--dctr-bcolor);
    border-radius: var(--dctr-bradius);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--dctr-height);

    background-color: var(--dctr-bgcolor);
    overflow: hidden;
}

.directory-btn {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--dbtn-transition);
}

.directory-btn:hover {
    background-color: var(--dbtn-hover-bgcolor);
}

.directory-btn > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--dbtn-svg-length);
    width: var(--dbtn-svg-length);

    fill: var(--dbtn-svg-fill);
}

.directory-gallery {
    align-items: start;

    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    margin-right: var(--dgl-hmargin);
    margin-left: var(--dgl-hmargin);
    padding-top: var(--dgl-vpadding);
    padding-bottom: var(--dgl-vpadding);

    overflow-x: auto;

    scroll-snap-type: x mandatory;
}

.directory-gallery::-webkit-scrollbar-track {
    margin: var(--dgl-sb-track-margin);
}

.video-preview-ctr {
    border-radius: var(--vpctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--vpctr-vgap);
    padding: var(--vpctr-padding);

    transition: var(--vpctr-transition);
    
    scroll-snap-align: start;
}

.video-preview-ctr:hover {
    background-color: var(--vpctr-hover-bgcolor);
}

.video-thumbnail {
    aspect-ratio: 16 / 9;
    border-radius: var(--vtn-bradius);
    flex: 0 0 auto;
    height: var(--vtn-height);

    background-color: black;
    object-fit: contain;
}

.video-preview-ctr > h4 {
    flex: 0 0 fit-content;
    margin: 0;

    color: var(--vpctr-h4-color);
    font-size: var(--vpctr-h4-fsize);
    font-weight: var(--vpctr-h4-fweight);
    line-height: 1;
}

.video-preview-ctr > p {
    flex: 0 0 fit-content;
    margin: 0;

    color: var(--vpctr-p-color);
    font-size: var(--vpctr-p-fsize);
    font-weight: var(--vpctr-p-fweight);
    line-height: 1;
}

.video-options-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--voctr-hgap);
}

.video-options-btn {
    border-radius: var(--vobtn-bradius);
    flex: 0 0 fit-content;
    margin: 0;
    padding: var(--vobtn-padding);

    transition: var(--vobtn-transition);
}

.video-rename-btn:hover {
    background-color: var(--vrbtn-hover-bgcolor);
}

.video-delete-btn:hover {
    background-color: var(--vdbtn-hover-bgcolor);
}

.video-options-btn:hover > svg {
    fill: var(--vobtn-hover-svg-fill);
}

.video-options-btn > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--vobtn-svg-length);
    width: var(--vobtn-svg-length);

    fill: var(--vobtn-svg-fill);
    transition: var(--vobtn-svg-transition);
}