.directory-ctr {
    border-radius: var(--csl-bradius);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--csl-height);

    background-color: var(--pmc-sh7);
    overflow: hidden;
}

.directory-btn {
    align-items: center;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
}

.directory-btn:hover {
    background-color: var(--cpc-sh1);
}

.directory-btn > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--jm-svg-length);
    width: var(--jm-svg-length);

    fill: var(--cpc-sh1);
}

.directory-gallery {
    align-items: start;
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    margin-right: var(--gl-hmargin);
    margin-left: var(--gl-hmargin);
    padding-top: var(--gl-vpadding);
    padding-bottom: var(--gl-vpadding);

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.directory-gallery::-webkit-scrollbar-track {
    margin: var(--gl-sb-track-margin);
}

.video-preview-ctr {
    border-radius: var(--vpv-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--vpv-vgap);
    padding: var(--vpv-padding);

    scroll-snap-align: center;
}

.video-preview-ctr:hover {
    background-color: var(--pmc-sh1);
}

.video-thumbnail {
    aspect-ratio: 16 / 9;
    border-radius: var(--vt-bradius);
    flex: 0 0 auto;
    height: var(--vt-height);
    background-color: black;
    object-fit: contain;
}

.video-preview-ctr > h4 {
    flex: 0 0 fit-content;
    margin: 0;

    color: var(--cpc-sh1);
    font-size: var(--def-h4-fsize);
    font-weight: var(--def-h4-fweight);
    line-height: 1;
}

.video-preview-ctr > p {
    flex: 0 0 fit-content;
    margin: 0;

    color: var(--cpc-sh1);
    font-size: var(--def-p-fsize);
    font-weight: var(--def-p-fweight);
    line-height: 1;
}

.video-options-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--vo-hgap);
}

.video-options-btn {
    border: none;
    border-radius: var(--vo-btn-bradius);
    flex: 0 0 fit-content;
    margin: 0;
    padding: var(--vo-btn-padding);

    background-color: var(--pmc-sh7);
}

.video-options-btn:hover {
    background-color: var(--pmc-sh1);
}

.video-options-btn > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--vo-btn-svg-length);
    width: var(--vo-btn-svg-length);

    fill: var(--cpc-sh1);
}