.directory-ctr {
    border: var(--dctr-bwidth) solid var(--dctr-bcolor);
    border-radius: var(--dctr-bradius);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--dctr-height);

    background-color: var(--dctr-bgcolor);
    overflow: hidden;
}

.directory-btn {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--dbtn-transition);
}

.directory-btn.active:hover {
    background-color: var(--dbtn-bgcolor);
}

.directory-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--dicon-length);
    width: var(--dicon-length);

    fill: var(--dicon-fill);
}

.directory-btn.active > .directory-icon {
    fill: var(--dicon-alt-fill);
}

.directory-gallery {
    align-items: start;

    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    margin-right: var(--dgallery-hmargin);
    margin-left: var(--dgallery-hmargin);
    padding-top: var(--dgallery-vpadding);
    padding-bottom: var(--dgallery-vpadding);

    overflow-x: auto;

    scroll-snap-type: x mandatory;
}

.directory-gallery::-webkit-scrollbar-track {
    margin: var(--dgallery-sb-track-margin);
}

.directory-status-label {
    align-self: center;
    display: none;

    margin-left: auto;
    margin-right: auto;

    color: var(--dstatuslabel-color);
    font-size: var(--dstatuslabel-fsize);
    font-weight: var(--dstatuslabel-fweight);
}

.directory-status-label.active {
    display: block;
}

.video-preview-ctr {
    border-radius: var(--vpctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--vpctr-vgap);
    padding: var(--vpctr-padding);

    transition: var(--vpctr-transition);

    scroll-snap-align: start;
}

.video-preview-ctr:hover {
    background-color: var(--vpctr-bgcolor);
}

.video-thumbnail-ctr {
    position: relative;

    flex: 0 0 fit-content;
}

.video-thumbnail {
    aspect-ratio: 16 / 9;
    border-radius: var(--vthumbnail-bradius);
    display: block;

    height: var(--vthumbnail-height);

    background-color: black;
    object-fit: contain;
}

.video-duration-label {
    position: absolute;
    right: var(--vdurlabel-rinset);
    bottom: var(--vdurlabel-binset);

    border-radius: var(--vdurlabel-bradius);
    padding: var(--vdurlabel-padding);

    background-color: var(--vdurlabel-bgcolor);
    color: var(--vdurlabel-color);
    font-size: var(--vdurlabel-fsize);
    font-weight: var(--vdurlabel-fweight);
}

.video-label-ctr {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--vlabelctr-height);
    width: var(--vlabelctr-width);
}

.video-game-label {
    flex: 0 1 fit-content;

    color: var(--vgamelabel-color);
    font-size: var(--vgamelabel-fsize);
    font-weight: var(--vgamelabel-fweight);
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-age-label {
    flex: 0 0 fit-content;
    margin-left: auto;

    color: var(--vagelabel-color);
    font-size: var(--vagelabel-fsize);
    font-weight: var(--vagelabel-fweight);
    line-height: normal;
}

.video-name-label {
    flex: 0 0 fit-content;

    color: var(--vnamelabel-color);
    font-size: var(--vnamelabel-fsize);
    font-weight: var(--vnamelabel-fweight);
}

.video-options-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--voctr-hgap);
}

.video-options-btn {
    border-radius: var(--vobtn-bradius);
    flex: 0 0 fit-content;
    margin: 0;
    padding: var(--vobtn-padding);

    transition: var(--vobtn-transition);
}

.video-rename-btn:hover {
    background-color: var(--vrbtn-bgcolor);
}

.video-delete-btn:hover {
    background-color: var(--vdbtn-bgcolor);
}

.video-options-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--voicon-length);
    width: var(--voicon-length);

    fill: var(--voicon-fill);
    transition: var(--voicon-transition);
}

.video-options-btn:hover > .video-options-icon {
    fill: var(--voicon-alt-fill);
}