.directories-label {
    transition: var(--dlabel-transition);
}

.directories-label:hover {
    color: var(--dlabel-color);
}

.storage-ctr {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: var(--sgctr-vgap);
    margin-top: var(--sgctr-tmargin);
    width: var(--sgctr-width);

    opacity: 0;
    transition: var(--sgctr-transition);
}

.directories-label:hover + .storage-ctr {
    opacity: 1;
}

.directory-label2 {
    flex: 0 0 fit-content;

    direction: rtl;
    color: var(--dlabel2-color);
    font-size: var(--dlabel2-fsize);
    font-weight: var(--dlabel2-fweight);
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.directory-label-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
}

.directory-label3 {
    flex: 0 1 fit-content;

    color: var(--dlabel3-color);
    font-size: var(--dlabel3-fsize);
    font-weight: var(--dlabel3-fweight);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.directory-bar {
    border-radius: var(--dbar-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    margin-left: auto;
    gap: var(--dbar-hgap);
    padding: var(--dbar-padding);

    background-color: var(--dbar-bgcolor);
}

.directory-setting-field {
    border-radius: var(--dstfield-bradius);
    flex: 0 0 fit-content;
    padding-right: var(--dstfield-hpadding);
    padding-left: var(--dstfield-hpadding);

    background-color: var(--dstfield-bgcolor);
    color: var(--dstfield-color);
    transition: var(--dstfield-transition);
}

.directory-setting-field:hover {
    color: var(--dstfield-alt-color);
}

.directory-bar-btn {
    border-radius: var(--dbarbtn-bradius);
    flex: 0 0 fit-content;
    
    transition: var(--dbarbtn-transition);
}

.directory-bar-btn:hover {
    background-color: var(--dbarbtn-bgcolor);
}

.directory-bar-icon {
    display: block;
    height: var(--dbaricon-length);
    width: var(--dbaricon-length);

    fill: var(--dbaricon-fill);
    transition: var(--dbaricon-transition);
}

.directory-bar-btn:hover > .directory-bar-icon {
    fill: var(--dbaricon-fill);
}







.directory-ctr {
    border: var(--dctr-bwidth) solid var(--dctr-bcolor);
    border-radius: var(--dctr-bradius);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--dctr-height);

    background-color: var(--dctr-bgcolor);
}

.directory-btn {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--dbtn-transition);
}

.directory-btn.active:hover {
    background-color: var(--dbtn-bgcolor);
}

#left-btn-captures, #left-btn-clips {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

#right-btn-captures, #right-btn-clips {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.directory-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--dicon-length);
    width: var(--dicon-length);

    fill: var(--dicon-fill);
    transition: var(--dicon-transition)
}

.directory-btn.active > .directory-icon {
    fill: var(--dicon-alt-fill);
}

.directory-btn.active:hover > .directory-icon {
    fill: var(--dicon-alt2-fill);
}

.directory-gallery {
    align-items: start;

    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    margin-right: var(--dgallery-hmargin);
    margin-left: var(--dgallery-hmargin);
    padding-top: var(--dgallery-vpadding);
    padding-bottom: var(--dgallery-vpadding);

    overflow-x: auto;

    scroll-snap-type: x mandatory;
}

.directory-gallery::-webkit-scrollbar-track {
    margin-right: var(--dgallery-sb-track-hmargin);
    margin-left: var(--dgallery-sb-track-hmargin);
}

.directory-status-label {
    align-self: center;
    display: none;

    margin-left: auto;
    margin-right: auto;

    color: var(--dstatuslabel-color);
    font-size: var(--dstatuslabel-fsize);
    font-weight: var(--dstatuslabel-fweight);
}

.directory-status-label.active {
    display: block;
}

.video-preview-ctr {
    border-radius: var(--vpctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--vpctr-vgap);
    padding: var(--vpctr-padding);

    transition: var(--vpctr-transition);

    scroll-snap-align: start;
}

.video-preview-ctr:hover {
    background-color: var(--vpctr-bgcolor);
}

.video-thumbnail-ctr {
    position: relative;

    border-radius: var(--vtnctr-bradius);
    flex: 0 0 fit-content;
}

.video-thumbnail-image {
    aspect-ratio: 16 / 9;
    border-radius: inherit;
    display: block;
    height: var(--vtnimage-height);

    background-color: var(--vtnimage-bgcolor);
    object-fit: contain;
}

.video-thumbnail-duration-label {
    position: absolute;
    right: var(--vtndurlabel-rinset);
    bottom: var(--vtndurlabel-binset);

    border-radius: var(--vtndurlabel-bradius);
    padding: var(--vtndurlabel-padding);

    background-color: var(--vtndurlabel-bgcolor);
    color: var(--vtndurlabel-color);
    font-size: var(--vtndurlabel-fsize);
    font-weight: var(--vtndurlabel-fweight);

    transition: var(--vtndurlabel-transition);
}

.video-preview-ctr:hover > .video-thumbnail-ctr > .video-thumbnail-duration-label {
    color: var(--vtndurlabel-alt-color);
}

.video-preview-label-ctr {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: var(--vplabelctr-height);
    width: var(--vplabelctr-width);
}

.video-preview-label {
    font-size: var(--vplabel-fsize);
    font-weight: var(--vplabel-fweight);
    line-height: normal;
    transition: var(--vplabel-transition);
}

.video-preview-game-label {
    flex: 0 1 fit-content;
    margin-right: var(--vpgamelabel-rmargin);

    color: var(--vpgamelabel-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-preview-ctr:hover > .video-preview-label-ctr > .video-preview-game-label {
    color: var(--vpgamelabel-alt-color);
}

.video-preview-age-label {
    flex: 0 0 fit-content;
    margin-left: auto;

    color: var(--vpagelabel-color);
}

.video-preview-ctr:hover > .video-preview-label-ctr > .video-preview-age-label {
    color: var(--vpagelabel-alt-color);
}

.video-preview-name-label {
    flex: 0 0 auto;

    width: var(--vpnamelabel-width);

    color: var(--vpnamelabel-color);
    font-size: var(--vpnamelabel-fsize);
    font-weight: var(--vpnamelabel-fweight);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-preview-btn-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--vpbtnctr-hgap);
}

.video-preview-btn {
    border-radius: var(--vpbtn-bradius);
    flex: 0 0 fit-content;
    padding: var(--vpbtn-padding);

    transition: var(--vpbtn-transition);
}

.video-preview-rename-btn:hover {
    background-color: var(--vprenamebtn-bgcolor);
}

.video-preview-delete-btn:hover {
    background-color: var(--vpdeletebtn-bgcolor);
}

.video-preview-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--vpicon-length);
    width: var(--vpicon-length);

    fill: var(--vpicon-fill);
    transition: var(--vpicon-transition);
}

.video-preview-btn:hover > .video-preview-icon {
    fill: var(--vpicon-alt-fill);
}