#ctr1-editor {
    align-items: center;
}

#ctr-video {
    position: relative;

    border-radius: var(--vctr-bradius);
    flex: 0 0 auto;
    height: var(--vctr-height);
    width: var(--vctr-width);

    background-color: var(--vctr-bgcolor);
}

#ctr-video:fullscreen {
    border-radius: 0;
}

#player-video {
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

#status-icon-play-pause {
    inset: 0;
    position: absolute;

    display: block;
    height: var(--plpastatusicon-length);
    margin: auto;
    width: var(--plpastatusicon-length);

    fill: var(--plpastatusicon-fill);
    visibility: hidden;

    pointer-events: none;
}

#status-icon-play-pause.active {
    visibility: visible;
}

#ctr-playback {
    inset: auto 0 0;
    position: absolute;

    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-flow: column nowrap;
    
    opacity: 0;
    transition: var(--pbctr-transition);
}

 #ctr-playback.active {
    opacity: 1;
 }

#slider-seek {
    box-sizing: content-box;
    flex: 0 0 auto;
    height: var(--sslider-height);
    margin-right: var(--sslider-hmargin);
    margin-left: var(--sslider-hmargin);
    padding-top: var(--sslider-tpadding);
    padding-bottom: var(--sslider-bpadding);

    cursor: pointer;
}

#track-seek {
    position: relative;

    height: 100%;

    background-color: var(--strack-bgcolor);
    transition: var(--strack-transition);
}

#slider-seek:hover > #track-seek {
    transform: scaleY(var(--strack-transform));
}

#overlay-seek {
    position: absolute;

    height: 100%;
    width: 100%;
}

#thumb-seek {
    position: absolute;
}

#bar-media {
    align-items: center;

    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    padding-top: var(--mbar-tpadding);
    padding-bottom: var(--mbar-bpadding);

    background: linear-gradient(to top, var(--mbar-lgradientcolor), transparent);
}

.media-bar-btn {
    flex: 0 0 fit-content;
    margin-right: var(--mbarbtn-hmargin);
    margin-left: var(--mbarbtn-hmargin);

    transition: var(--mbarbtn-transition);

    cursor: pointer;
}

#bar-btn-video-volume {
    margin-right: 0;
}

#bar-btn-playback-rate {
    justify-content: end;

    display: flex;
    flex-flow: row nowrap;
    margin-left: 0;
    padding-top: var(--pbrtbarbtn-vpadding);
    padding-bottom: var(--pbrtbarbtn-vpadding);
}

.media-bar-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--mbaricon-length);
    width: var(--mbaricon-length);

    fill: var(--mbaricon-fill);
    transition: var(--mbaricon-transition);
}

.media-bar-btn:hover > .media-bar-icon {
    fill: var(--mbaricon-alt-fill);
}

#bar-btn-video-volume:has(+ #slider-ctr-video-volume:hover) > #bar-icon-video-volume {
    fill: var(--vvobaricon-fill);
}

.playback-rate-label {
    text-align: left;
    flex: 0 0 auto;
    height: var(--pbrtlabel-height);
    line-height: var(--pbrtlabel-lheight);
    overflow: hidden;
    width: var(--pbrtlabel-width);

    color: var(--pbrtlabel-color);
    font-size: var(--pbrtlabel-fsize);
    font-weight: var(--pbrtlabel-fweight);
    text-overflow: ellipsis;
    transition: var(--pbrtlabel-transition);
    white-space: nowrap;
}

#slider-ctr-playback-rate:hover + #bar-btn-playback-rate > .playback-rate-label {
    color: var(--pbrtlabel-alt-color);
}

#bar-btn-playback-rate:hover > .playback-rate-label {
    color: var(--pbrtlabel-alt-color);
}

#value-label-playback-rate {
    text-align: right;
}

.media-slider-ctr {
    flex: 0 0 fit-content;
    overflow: hidden;
}

.media-slider-ctr:has(.media-slider.active) {
    cursor: pointer;
}

#slider-ctr-video-volume {
    padding-right: var(--vvosliderctr-hpadding);
    padding-left: var(--vvosliderctr-hpadding);
}

#slider-ctr-playback-rate {
    padding-right: var(--pbrtsliderctr-rpadding);
    padding-left: var(--pbrtsliderctr-lpadding);
}

.media-slider {
    box-sizing: content-box;
    height: var(--mslider-height);
    padding-top: var(--mslider-vpadding);
    padding-bottom: var(--mslider-vpadding);
    width: 0;

    transition: var(--mslider-transition);
}

#slider-video-volume.active {
    width: var(--vvoslider-width);
}

#slider-playback-rate.active {
    width: var(--pbrtslider-width);
}

.media-track {
    position: relative;

    border-radius: var(--mtrack-bradius);
    height: 100%;

    background-color: var(--mtrack-bgcolor);
    transition: var(--mtrack-transition);
}

.media-slider-ctr:hover > .media-slider > .media-track {
    background-color: var(--mtrack-alt-bgcolor);
}

#bar-btn-video-volume:hover + #slider-ctr-video-volume > #slider-video-volume > #track-video-volume {
    background-color: var(--vvotrack-bgcolor);
}

#slider-ctr-playback-rate:has(+ #bar-btn-playback-rate:hover) > #slider-playback-rate > #track-playback-rate {
    background-color: var(--pbrttrack-bgcolor);
}

.media-overlay {
    position: absolute;

    border-radius: inherit;

    transition: var(--moverlay-transition);
    visibility: hidden;
}

.media-slider.active > .media-track > .media-overlay {
    transition: var(--moverlay-alt-transition);
    visibility: inherit;  /* Could be visible, but might show if you quickly show the slider then switch sections */
}

#overlay-video-volume {
    height: 100%;
    width: var(--vvooverlay-width);
}

#overlay-playback-rate {
    bottom: 0;
    left: var(--pbrtoverlay-linset);

    height: var(--pbrtoverlay-height);
    width: var(--pbrtoverlay-width);

    fill: var(--pbrtoverlay-fill);
    stroke: var(--pbrtoverlay-stroke);
    stroke-width: var(--pbrtoverlay-swidth);
    transition: var(--pbrtoverlay-transition);

    pointer-events: none;
}

#slider-ctr-playback-rate:hover > #slider-playback-rate > #track-playback-rate > #overlay-playback-rate {
    fill: var(--pbrtoverlay-alt-fill);
    stroke: var(--pbrtoverlay-alt-stroke);
}

#slider-ctr-playback-rate:has(+ #bar-btn-playback-rate:hover) > #slider-playback-rate > #track-playback-rate > #overlay-playback-rate {
    fill: var(--pbrtoverlay-alt-fill);
    stroke: var(--pbrtoverlay-alt-stroke);
}

.playback-rate-text {
    fill: var(--pbrttext-fill);
    font-size: var(--pbrttext-fsize);
    font-weight: var(--pbrttext-fweight);
    stroke: var(--pbrttext-stroke);
    transition: var(--pbrttext-transition);
}

#slider-ctr-playback-rate:hover > #slider-playback-rate > #track-playback-rate > #overlay-playback-rate > .playback-rate-text {
    fill: var(--pbrttext-alt-fill);
    stroke: var(--pbrttext-alt-stroke);
}

#slider-ctr-playback-rate:has(+ #bar-btn-playback-rate:hover) > #slider-playback-rate > #track-playback-rate > #overlay-playback-rate > .playback-rate-text {
    fill: var(--pbrttext-alt-fill);
    stroke: var(--pbrttext-alt-stroke);
}

.media-thumb {
    position: absolute;
    top: var(--mthumb-tinset);
    left: var(--mthumb-linset);

    border-radius: var(--mthumb-bradius);
    height: var(--mthumb-height);
    width: 0;

    background-color: var(--mthumb-bgcolor);
}

.media-slider.active > .media-track > .media-thumb {
    width: var(--mthumb-width);
}

#label-ctr-current-video {
    justify-content: end;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    margin-right: auto;
}

.current-video-label {
    flex: 0 0 auto;
    height: var(--cuvlabel-height);
    line-height: var(--cuvlabel-lheight);
    overflow: hidden;

    color: var(--cuvlabel-color);
    font-size: var(--cuvlabel-fsize);
    font-weight: var(--cuvlabel-fweight);
    text-overflow: ellipsis;
    white-space: nowrap;
}

#time-label-current-video {
    text-align: right;
    
    width: var(--cuvtimelabel-width);
}

#duration-label-current-video {
    width: var(--cuvdurlabel-width);
}

#slider-timeline {
    border-radius: var(--tlslider-bradius);
    flex: 0 0 auto;
    height: var(--tlslider-height);
    width: var(--tlslider-width);
}

#track-timeline {
    position: relative;

    border-radius: inherit;
    height: 100%;

    background-color: var(--tltrack-bgcolor);
}

#overlay-timeline {
    position: absolute;

    border-radius: inherit;
    height: 100%;
    width: 100%;

    fill: var(--tloverlay-fill);
    stroke: var(--tloverlay-stroke);
    stroke-width: var(--tloverlay-swidth);
}

.timeline-text {
    fill: var(--tltext-fill);
    font-size: var(--tltext-fsize);
    font-weight: var(--tltext-fweight);
    stroke: var(--tltext-stroke);
}

#thumb-timeline {
    position: absolute;
    top: var(--tlthumb-tinset);
    left: var(--tlthumb-linset);
    z-index: 1;

    border-radius: var(--tlthumb-bradius);
    height: var(--tlthumb-height);
    width: var(--tlthumb-width);

    background-color: var(--tlthumb-bgcolor);

    cursor: pointer;
}

.clip-thumb {
    position: absolute;
    top: var(--cpthumb-tinset);
    left: var(--cpthumb-linset);

    border-radius: var(--cpthumb-bradius);
    height: var(--cpthumb-height);
    width: var(--cpthumb-width);

    visibility: hidden;

    cursor: pointer;
}

.clip-thumb.active {
    visibility: visible;
}

.clip-path {
    fill: var(--cppath-fill);
    stroke: var(--cppath-stroke);
    stroke-width: var(--cppath-swidth);
}

#ctr-clip {
    border: var(--cpctr-bwidth) solid var(--cpctr-bcolor);
    border-radius: var(--cpctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--cpctr-bgcolor);
}

#icon-clip {
    display: block;
    flex: 0 0 auto;
    height: var(--cpicon-length);
    margin: auto var(--cpicon-rmargin) auto var(--cpicon-lmargin);
    width: var(--cpicon-length);
    
    fill: var(--cpicon-fill);
}

#bar-clip {
    align-items: center;
    justify-content: center;

    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    column-gap: var(--cpbar-cgap);
    padding-top: var(--cpbar-vpadding);
    padding-bottom: var(--cpbar-vpadding);
    width: 0;

    transition: var(--cpbar-transition);
}

#bar-clip.active {
    width: var(--cpbar-width);
}

.clip-setting-ctr {
    border: var(--cpstctr-bwidth) solid transparent;
    border-radius: var(--cpstctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    row-gap: var(--cpstctr-rgap);
    padding: var(--cpstctr-vpadding) var(--cpstctr-hpadding);

    opacity: 0;
    transition: var(--cpstctr-transition);

    pointer-events: none;
}

.clip-setting-ctr:hover {
    background-color: var(--cpstctr-bgcolor);
    border-color: var(--cpstctr-bcolor);
}

#bar-clip.active > .clip-setting-ctr {
    opacity: 1;
    transition: var(--cpstctr-alt-transition);

    pointer-events: all;
}

.clip-setting-label {
    flex: 0 0 auto;
    height: var(--cpstlabel-height);
    line-height: var(--cpstlabel-lheight);
    overflow: hidden;
    width: var(--cpstlabel-width);

    color: var(--cpstlabel-color);
    font-size: var(--cpstlabel-fsize);
    font-weight: var(--cpstlabel-fweight);
    text-overflow: ellipsis;
    transition: var(--cpstlabel-transition);
    white-space: nowrap;
}

.clip-setting-ctr:hover > .clip-setting-label {
    color: var(--cpstlabel-alt-color);
}

.clip-setting-pill {
    border-radius: var(--cpstpill-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--cpstpill-bgcolor);
}

.clip-setting-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--cpsticon-length);
    margin: var(--cpsticon-margin);
    width: var(--cpsticon-length);

    fill: var(--cpsticon-fill);
    transition: var(--cpsticon-transition)
}

.clip-setting-ctr:hover > .clip-setting-pill > .clip-setting-icon {
    fill: var(--cpsticon-alt-fill);
}

.clip-setting-field {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    box-sizing: content-box;
    flex: 0 0 auto;
    height: var(--cpstfield-height);
    line-height: var(--cpstfield-lheight);
    padding-right: var(--cpstfield-hpadding);
    padding-left: var(--cpstfield-hpadding);
    width: var(--cpstfield-width);

    background-color: var(--cpstfield-bgcolor);
    color: var(--cpstfield-color);
    font-size: var(--cpstfield-fsize);
    font-weight: var(--cpstfield-fweight);
    transition: var(--cpstfield-transition);

    cursor: pointer;
}

.clip-setting-field[name="clipsWidth"], .clip-setting-field[name="clipsHeight"] {
    cursor: text;
}

.clip-setting-ctr:hover > .clip-setting-pill > .clip-setting-field {
    color: var(--cpstfield-alt-color);
}

.clip-bar-btn {
    align-items: center;
    
    border: var(--cpbarbtn-bwidth) solid var(--cpbarbtn-bcolor);
    border-radius: var(--cpbarbtn-bradius);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    column-gap: var(--cpbarbtn-cgap);
    width: var(--cpbarbtn-width);
    padding: var(--cpbarbtn-padding);

    background-color: var(--cpbarbtn-bgcolor);
    opacity: 0;
    transition: var(--cpbarbtn-transition);

    cursor: pointer;
    pointer-events: none;
}

.clip-bar-btn:hover {
    background-color: var(--cpbarbtn-alt-bgcolor);
}

#bar-clip.active > .clip-bar-btn {
    opacity: 1;
    transition: var(--cpbarbtn-alt-transition);

    pointer-events: all;
}

.clip-bar-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--cpbaricon-length);
    width: var(--cpbaricon-length);
}

.clip-bar-path {
    transition: var(--cpbarpath-transition);
}

.clip-primary-bar-path {
    fill: var(--cpprimarybarpath-fill);
}

.clip-bar-btn:hover > .clip-bar-icon > .clip-primary-bar-path {
    fill: var(--cpprimarybarpath-alt-fill);
}

.clip-secondary-bar-path {
    fill: var(--cpsecondarybarpath-fill);
}

.clip-bar-btn:hover > .clip-bar-icon > .clip-secondary-bar-path {
    fill: var(--cpsecondarybarpath-alt-fill);
}

.clip-tertiary-bar-path {
    fill: var(--cptertiarybarpath-fill);
}

.clip-bar-btn:hover > .clip-bar-icon > .clip-tertiary-bar-path {
    fill: var(--cptertiarybarpath-alt-fill);
}

.clip-bar-label {
    text-align: center;

    flex: 0 0 auto;
    height: var(--cpbarlabel-height);
    line-height: var(--cpbarlabel-lheight);
    overflow: hidden;
    max-width: var(--cpbarlabel-maxwidth);

    color: var(--cpbarlabel-color);
    font-size: var(--cpbarlabel-fsize);
    font-weight: var(--cpbarlabel-fweight);
    text-overflow: ellipsis;
    transition: var(--cpbarlabel-transition);
    white-space: nowrap;
}

.clip-bar-btn:hover > .clip-bar-label {
    color: var(--cpbarlabel-alt-color);
}

#toggle-btn-clip {
    align-items: center;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--cptogglebtn-transition);
}

#toggle-btn-clip:hover {
    background-color: var(--cptogglebtn-bgcolor);
}

#toggle-icon-clip {
    display: block;
    flex: 0 0 auto;
    height: var(--cptoggleicon-length);
    width: var(--cptoggleicon-length);

    fill: var(--cptoggleicon-fill);
    transition: var(--cptoggleicon-transition)
}

#toggle-btn-clip:hover > #toggle-icon-clip {
    fill: var(--cptoggleicon-alt-fill);
}