* {
    border: none;
    margin: 0;
    outline: 1px solid rgba(169, 228, 157, 0.2);
    outline: none;
    padding: 0;
    
    background-color: transparent;
    box-sizing: border-box;
    line-height: 1;

    -webkit-user-select: none;
}

::-webkit-scrollbar {
    height: var(--scbar-length);
    width: var(--scbar-length);
}

::-webkit-scrollbar-thumb {
    border: var(--scbar-thumb-bwidth) solid transparent;
    border-radius: var(--scbar-thumb-bradius);

    background-clip: padding-box;
    background-color: var(--scbar-thumb-bgcolor);
    /* transition: var(--scbar-thumb-transition); */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scbar-thumb-alt-bgcolor);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    background-color: var(--body-bgcolor);
}

#overlay-initialization {
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;

    background-color: var(--ioverlay-bgcolor);
    opacity: 0;
    visibility: hidden;
    transition: var(--ioverlay-transition);
}

#overlay-initialization.active {
    opacity: 1;
    visibility: visible;
}

#overlay-initialization > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--ioverlay-svg-length);
    width: var(--ioverlay-svg-length);

    fill: var(--ioverlay-svg-fill);
}

#overlay-initialization > span {
    flex: 0 0 fit-content;

    color: var(--ioverlay-span-color);
    font-size: var(--ioverlay-span-fsize);
    font-weight: var(--ioverlay-span-fweight);
}

#status-label-initialization {
    flex: 0 0 fit-content;
    margin-top: var(--istatuslabel-tmargin);

    color: var(--istatuslabel-color);
    font-size: var(--istatuslabel-fsize);
    font-weight: var(--istatuslabel-fweight);
}

#area-client {
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    gap: var(--ctarea-hgap);
}

#block-content {
    position: relative;

    border-top-left-radius: var(--cblock-tlbradius);
    flex: 1 1 fit-content;

    background-color: var(--cblock-bgcolor);
}

#status-label-content {
    position: absolute;
    top: var(--cstatuslabel-tinset);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    border-radius: var(--cstatuslabel-bradius);
    padding: var(--cstatuslabel-padding);

    background-color: var(--cstatuslabel-bgcolor);
    color: var(--cstatuslabel-color);
    font-size: var(--cstatuslabel-fsize);
    font-weight: var(--cstatuslabel-fweight);
    opacity: 0;
    transition: var(--cstatuslabel-transition);
    visibility: hidden;
}

#status-label-content.active {
    opacity: 1;
    transition: var(--cstatuslabel-alt-transition);
    visibility: visible;
}

.content-section {
    position: absolute;

    border-top-left-radius: inherit;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--csection-vgap);
    height: 100%;
    padding: var(--csection-vpadding) var(--csection-hpadding);
    width: 100%;

    visibility: hidden;
}

.content-section.active {
    visibility: visible;
}

.content-label1 {
    flex: 0 0 fit-content;

    color: var(--clabel1-color);
    font-size: var(--clabel1-fsize);
    font-weight: var(--clabel1-fweight);
}

.content-divider1 {
    flex: 0 0 auto;
    height: var(--cdivider1-height);
    margin-left: var(--cdivider1-lmargin);
    width: var(--cdivider1-width);

    background-color: var(--cdivider1-bgcolor);
}

.content-ctr1 {
    border-radius: var(--cctr1-bradius);
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: column nowrap;
    gap: var(--cctr1-vgap);
    padding: var(--cctr1-vpadding) var(--cctr1-hpadding);

    background-color: var(--cctr1-bgcolor);
    overflow-y: auto;

    /* scrollbar-gutter: stable; */
}

.content-ctr1::-webkit-scrollbar-track {
    margin-top: var(--cctr1-sb-track-vmargin);
    margin-bottom: var(--cctr1-sb-track-vmargin);
}

.content-ctr2 {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--cctr2-vgap);
}

.content-ctr3 {    
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;


    gap:20px;
}

.content-label2 {
    flex: 0 0 fit-content;

    color: var(--clabel2-color);
    font-size: var(--clabel2-fsize);
    font-weight: var(--clabel2-fweight);
}

.content-divider2 {
    flex: 0 0 auto;
    height: var(--cdivider2-height);
    margin-left: var(--cdivider2-lmargin);
    width: var(--cdivider2-width);

    background-color: var(--cdivider2-bgcolor);
}
