* {
    border: none;
    margin: 0;
    outline: 1px solid yellow;
    outline: none;
    padding: 0;
    
    background-color: transparent;
    box-sizing: border-box;
    line-height: 1;

    -webkit-user-select: none;
}

::-webkit-scrollbar {
    height: var(--sbar-length);
    width: var(--sbar-length);
}

::-webkit-scrollbar-thumb {
    border: var(--sbar-thumb-bwidth) solid transparent;
    border-radius: var(--sbar-thumb-bradius);

    background-clip: padding-box;
    background-color: var(--sbar-thumb-bgcolor);
    /* transition: var(--sbar-thumb-transition); */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--sbar-thumb-alt-bgcolor);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    background-color: var(--body-bgcolor);
}

#overlay-initialization {
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;

    background-color: var(--ioverlay-bgcolor);
    opacity: 0;
    visibility: hidden;
    transition: var(--ioverlay-transition);
}

#overlay-initialization.active {
    opacity: 1;
    visibility: visible;
}

#overlay-initialization > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--ioverlay-svg-length);
    width: var(--ioverlay-svg-length);

    fill: var(--ioverlay-svg-fill);
}

#overlay-initialization > span {
    flex: 0 0 fit-content;

    color: var(--ioverlay-span-color);
    font-size: var(--ioverlay-span-fsize);
    font-weight: var(--ioverlay-span-fweight);
}

#status-label-initialization {
    flex: 0 0 auto;
    height: var(--istatlabel-height);
    margin-top: var(--istatlabel-tmargin);

    color: var(--istatlabel-color);
    font-size: var(--istatlabel-fsize);
    font-weight: var(--istatlabel-fweight);
}

#area-client {
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    gap: var(--carea-hgap);

    overflow: hidden; /* for vertical scroll */
}

#block-content {
    position: relative;

    border-top-left-radius: var(--cblock-tlbradius);
    flex: 1 1 fit-content;

    background-color: var(--cblock-bgcolor);
    overflow: hidden; /* for vertical/horizontal scroll */
}

#status-label-general {
    position: absolute;
    top: var(--gstatlabel-tinset);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    border-radius: var(--gstatlabel-bradius);
    padding: var(--gstatlabel-padding);

    background-color: var(--gstatlabel-bgcolor);
    color: var(--gstatlabel-color);
    font-size: var(--gstatlabel-fsize);
    font-weight: var(--gstatlabel-fweight);
    text-align: center;
    opacity: 0;
    transition: var(--gstatlabel-transition);
    visibility: hidden;
}

#status-label-general.active {
    opacity: 1;
    transition: var(--gstatlabel-alt-transition);
    visibility: visible;
}

.content-section {
    position: absolute;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--csection-vgap);
    height: 100%; /* for vertical scroll */
    padding: var(--csection-vpadding) var(--csection-hpadding);
    width: 100%;

    visibility: hidden;
}

.content-section.active {
    visibility: visible;
}

.content-label {
    flex: 0 0 fit-content;

    color: var(--clabel-color);
    font-size: var(--clabel-fsize);
    font-weight: var(--clabel-fweight);
}

.content-divider {
    flex: 0 0 auto;
    height: var(--cdivider-height);
    margin-left: var(--cdivider-lmargin);
    width: var(--cdivider-width);

    background-color: var(--cdivider-bgcolor);
}

.section-ctr1 {
    border-radius: var(--sctr1-bradius);
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: column nowrap;
    gap: var(--sctr1-vgap);
    padding: var(--sctr1-vpadding) var(--sctr1-hpadding);

    background-color: var(--sctr1-bgcolor);
    overflow-y: auto; /* for vertical scroll */

    scrollbar-gutter: stable;
}

.section-ctr1::-webkit-scrollbar-track {
    margin: var(--sctr1-sb-track-margin);
}

.section-ctr2 {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--sctr2-vgap);
}

.section-label {
    flex: 0 0 fit-content;

    color: var(--slabel-color);
    font-size: var(--slabel-fsize);
    font-weight: var(--slabel-fweight);
}

.section-divider {
    flex: 0 0 auto;
    height: var(--sdivider-height);
    margin-left: var(--sdivider-lmargin);
    width: var(--sdivider-width);

    background-color: var(--sdivider-bgcolor);
}
