/* * {
    outline: 1px solid yellow;
} */

html {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-length: 20px;

    --sbar-thumb-bradius: calc(var(--sbar-length) / 2);
    --sbar-thumb-bwidth: calc((var(--sbar-length) - 6px) / 2);

    /* ==== tbtn -> Title Button ==== */
    --tbtn-hpadding: 15px;
    --tbtn-vpadding: 7.5px;

    --tbtn-svg-length: 10px;

    /* ==== vlabel -> Version Label ==== */
    --vlabel-fsize: 11px;
    --vlabel-fweight: 300;
    --vlabel-lmargin: 10px;

    /* ==== carea -> Client Area ==== */
    --carea-hgap: 12px;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bradius: 10px;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-vgap: 10px;
    --nbar-padding: 10px;

    --nbar-hr-height: 1.5px;
    --nbar-hr-lmargin: calc(var(--nbar-padding) / -2);
    --nbar-hr-width: calc(100% + var(--nbar-padding));

    /* ==== ldp -> Logo Display ==== */
    --ldp-hgap: 20px;

    --ldp-h1-fsize: 28px;
    --ldp-h1-fweight: 600;

    --ldp-svg-length: 60px;

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-bradius: 10px;
    --nbtn-hgap: 40px;
    --nbtn-hmargin: calc((var(--ldp-svg-length) - var(--nbtn-svg-length) - 2 * var(--nbtn-padding)) / 2);
    --nbtn-padding: 10px;

    --nbtn-span-fsize: 20px;
    --nbtn-span-fweight: 400;

    --nbtn-svg-length: 30px;

    /* ==== nt -> Nav(igation) Toggle ==== */
    --ntbtn-svg-length: 15px;

    /* ==== cb -> Content Block ==== */
    --cblock-bradius: 10px;

    /* ==== ctr1 -> Container 1 ==== */
    --cctr1-vgap: var(--nbar-vgap);
    --cctr1-hpadding: calc(var(--nbar-padding) + var(--ntbtn-svg-length));
    --cctr1-vpadding: var(--nbar-padding);

    --cctr1-h2-fsize: 60px;
    --cctr1-h2-fweight: 500;

    --cctr1-hr-height: 1.5px;
    --cctr1-hr-lmargin: var(--nbar-hr-lmargin);
    --cctr1-hr-width: calc(100% + var(--cctr1-hpadding));

    /* ==== ctr2 -> Container 2 ==== */
    --cctr2-bradius: 10px;
    --cctr2-vgap: 30px;
    --cctr2-hpadding: var(--cctr1-hpadding);
    --cctr2-vpadding: var(--cctr1-vpadding);

    --cctr2-sb-track-margin: calc(var(--cctr2-vpadding) - var(--sbar-thumb-bwidth));

    /* ==== ctr3 -> Container 3 ==== */
    --cctr3-vgap: var(--nbar-vgap);

    --cctr3-h3-fsize: 30px;
    --cctr3-h3-fweight: 400;

    --cctr3-hr-height: 1.5px;
    --cctr3-hr-lmargin: var(--nbar-hr-lmargin);
    --cctr3-hr-width: calc(100% + var(--cctr2-hpadding));

    /* ==== dctr -> Directory Container ==== */
    --dctr-bradius: 10px;
    --dctr-height: calc(2 * var(--dgl-vpadding) + 2 * var(--vpctr-padding) + var(--vtn-height) + 3 * var(--vpctr-vgap) + var(--vpctr-h4-fsize) + var(--vpctr-p-fsize) + 2 * var(--vobtn-padding) + var(--vobtn-svg-length) + var(--sbar-length));
    --dctr-owidth: 1.5px;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-svg-length: 15px;

    /* ==== dgl -> Directory Gallery ==== */
    --dgl-hmargin: 10px;
    --dgl-vpadding: 10px;

    --dgl-sb-track-margin: calc(-1 * var(--sbar-thumb-bwidth));

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-bradius: 10px;
    --vpctr-vgap: 10px;
    --vpctr-padding: 10px;
    
    --vpctr-h4-fsize: 17px;
    --vpctr-h4-fweight: 350;

    --vpctr-p-fsize: 11px;
    --vpctr-p-fweight: 300;

    /* ==== vtn -> Video Thumbnail ==== */
    --vtn-bradius: 10px;
    --vtn-height: 144px;

    /* ==== voctr -> Video Options Container ==== */
    --voctr-hgap: 10px;

    /* ==== vobtn -> Video Options Button ==== */
    --vobtn-bradius: 5px;
    --vobtn-padding: 2px;

    --vobtn-svg-length: 30px;

    /* ==== vctr -> Video Container ==== */
    --vctr-bradius: 10px;
    --vctr-height: 75%;
    --vctr-width: 80%;

    /* ==== psl -> Playback Slider ==== */
    --psl-height: 3px;
    --psl-hmargin: 6px;
    --psl-tpadding: 10px;
    --psl-bpadding: calc((var(--psl-height) * var(--ptrack-transform) - var(--psl-height)) / 2);

    /* ==== ptrack -> Playback Track ==== */
    --ptrack-transform: 2.5;

    /* ==== pthumb -> Playback Thumb ==== */
    --pthumb-bswidth: 100vw;

    /* ==== pbtn -> Playback Button ==== */
    --pbtn-bradius: 5px;
    --pbtn-bmargin: 3px;
    --pbtn-hmargin: 3px;
    
    --pbtn-svg-length: 40px;

    /* ==== slabel -> Speed Label ==== */
    --slabel-fsize: 20px;
    --slabel-fweight: 400;

    /* ==== cslabel -> Current Speed Label ==== */
    --cslabel-hpadding: var(--cslabel-vpadding);
    --cslabel-vpadding: calc((var(--pbtn-svg-length) - var(--slabel-fsize)) / 2);
    --cslabel-width: 3ch;

    /* ==== mlabel -> Multiplier Label ==== */
    --mlabel-hpadding: var(--cslabel-hpadding);
    --mlabel-vpadding: var(--cslabel-vpadding);

    /* ==== pinput -> Playback Input ==== */
    --pinput-thumb-height: 16px;
    --pinput-thumb-tmargin: calc((var(--pinput-thumb-height) - var(--pinput-track-height)) / -2);

    --pinput-track-height: 4px;

    /* ==== vsl -> Volume Slider ==== */
    --vsl-vpadding: calc((var(--pbtn-svg-length) - var(--pinput-track-height)) / 2);
    --vsl-width: 100px;

    --vsl-thumb-bradius: calc(var(--pinput-thumb-height) / 2);
    --vsl-thumb-width: var(--pinput-thumb-height);

    /* ==== ssl -> Speed Slider ==== */
    --ssl-vpadding: var(--vsl-vpadding);
    --ssl-width: 150px;

    --ssl-thumb-bradius: calc(var(--ssl-thumb-width) / 2);
    --ssl-thumb-width: 4px;

    /* ==== tlabel -> Time Label ==== */
    --tlabel-fsize: 15px;
    --tlabel-fweight: 400;

    /* ==== ctlabel -> Current Time Label ==== */
    --ctlabel-hpadding: var(--ctlabel-vpadding);
    --ctlabel-vpadding: calc((var(--pbtn-svg-length) - var(--ctlabel-fsize)) / 2);
    --ctlabel-width: 5ch;

    /* ==== ttlabel -> Total Time Label ==== */
    --ttlabel-hpadding: var(--ctlabel-hpadding);
    --ttlabel-vpadding: var(--ctlabel-vpadding);

    /* ==== tslider -> Timeline Slider ==== */
    --tslider-bradius: 10px;
    --tslider-height: 60px;
    --tslider-width: var(--vctr-width);

    /* ==== ttrack -> Timeline Track ==== */
    --otrack-height: var(--tslider-height);
    --otrack-swidth: 1px;

    --otrack-text-fsize: 12px;
    --otrack-text-fweight: 10;

    /* ==== tthumb -> Timeline Thumb ==== */
    --tthumb-bradius: calc(var(--tthumb-width) / 2);
    --tthumb-height: calc(-2 * var(--tthumb-tinset) + var(--tslider-height));
    --tthumb-tinset: -12px;
    --tthumb-linset: calc(var(--tthumb-width) / -2);
    --tthumb-width: 4px;

    /* ==== sgroup -> Settings Group ==== */
    --sgroup-hgap: 30px;

    /* ==== sctr -> Setting Container ==== */
    --sctr-bradius: 10px;
    --sctr-vgap: 5px;
    --sctr-hpadding: var(--cctr2-hpadding);
    --sctr-vpadding: var(--cctr2-vpadding);
    --sctr-owidth: 1.5px;

    --sctr-p-fsize: 11px;
    --sctr-p-fweight: 300;

    --sctr-h4-fsize: 17px;
    --sctr-h4-fweight: 350;

    /* ==== spill -> Setting Pill ==== */
    --spill-bradius: 10px;

    --spill-inputselect-hpadding: 10px;
    --spill-inputselect-width: 110px;

    --spill-svg-length: 25px;
    --spill-svg-margin: 5px;

    /* ==== stswitch -> Setting Toggle Switch ==== */
    --stswitch-width: 66px;

    --stswitch-svg-bradius: 7.5px;
    --stswitch-svg-height: calc(var(--spill-svg-length) + 2 * var(--spill-svg-margin) - 2 * var(--stswitch-svg-inset));
    --stswitch-svg-inset: 2px;
    --stswitch-svg-translateX: var(--stswitch-svg-width);
    --stswitch-svg-width: calc(var(--stswitch-width) / 2 - var(--stswitch-svg-inset));
}

::-webkit-scrollbar {
    height: var(--sbar-length);
    width: var(--sbar-length);
}

::-webkit-scrollbar-thumb {
    border: var(--sbar-thumb-bwidth) solid transparent;
    border-radius: var(--sbar-thumb-bradius);

    background-clip: padding-box;
    background-color: var(--sbar-thumb-bgcolor);
}

/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--sbar-thumb-bgcolor);
} */

::-webkit-scrollbar-corner {
    background-color: transparent;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;

    background-color: var(--body-bgcolor);
}