html {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-length: 20px;

    --sbar-thumb-bwidth: 7px;
    --sbar-thumb-bradius: 10px;

    /* ==== ioverlay -> Initialization Overlay ==== */
    --ioverlay-svg-length: 100px;

    --ioverlay-span-fsize: 80px;
    --ioverlay-span-fweight: 600;

    /* ==== istatuslabel -> Initialization Status Label ==== */
    --istatuslabel-tmargin: 50px;
    --istatuslabel-fsize: 18px;
    --istatuslabel-fweight: 300;

    /* ==== carea -> Client Area ==== */
    --carea-hgap: 12px;

    /* ==== cblock -> Content Block ==== */
    --cblock-tlbradius: 10px;

    /* ==== cstatuslabel -> Content Status Label ==== */
    --cstatuslabel-tinset: 40px;
    --cstatuslabel-bradius: 10px;
    --cstatuslabel-padding: 10px;
    --cstatuslabel-fsize: 15px;
    --cstatuslabel-fweight: 300;

    /* ==== csection -> Content Section ==== */
    --csection-vgap: 10px;
    --csection-vpadding: 10px;
    --csection-hpadding: 25px;

    /* ==== clabel1 -> Content Label 1 ==== */
    --clabel1-fsize: 60px;
    --clabel1-fweight: 500;

    /* ==== cdivider1 -> Content Divider 1 ==== */
    --cdivider1-height: 1.5px;
    --cdivider1-lmargin: -5px;
    --cdivider1-width: calc(100% + 25px);

    /* ==== cctr1 -> Content Container 1 ==== */
    --cctr1-bradius: 10px;
    --cctr1-vgap: 30px;
    --cctr1-vpadding: 10px;
    --cctr1-hpadding: 25px;

    --cctr1-sb-track-vmargin: 3px;

    /* ==== cctr2 -> Content Container 2 ==== */
    --cctr2-vgap: 10px;

    /* ==== clabel2 -> Content Label 2 ==== */
    --clabel2-fsize: 30px;
    --clabel2-fweight: 400;

    /* ==== cdivider2 -> Content Divider 2 ==== */
    --cdivider2-height: 1.5px;
    --cdivider2-lmargin: -5px;
    --cdivider2-width: calc(100% + 25px);

    /* ==== tbar -> Title Bar ==== */
    --tbar-span-lmargin: 10px;
    --tbar-span-fsize: 11px;
    --tbar-span-fweight: 300;

    /* ==== tbtn -> Title Button ==== */
    --tbtn-vpadding: 7.5px;
    --tbtn-hpadding: 15px;

    /* ==== ticon -> Title Icon ==== */
    --ticon-length: 10px;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-trbradius: 10px;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-vgap: 10px;
    --nbar-tpadding: 10px;
    --nbar-hpadding: 10px;
    --nbar-bpadding: 20px;
    --nbar-width: 80px;
    --nbar-alt-width: 211px;

    --nbar-hr-height: 1.5px;
    --nbar-hr-lmargin: -5px;
    --nbar-hr-width: calc(100% + 10px);

    /* ==== ldisplay -> Logo Display ==== */
    --ldisplay-hgap: 20px;

    --ldisplay-svg-length: 60px;

    --ldisplay-h1-width: 111px;
    --ldisplay-h1-fsize: 28px;
    --ldisplay-h1-fweight: 600;

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-bradius: 10px;
    --nbtn-hgap: 40px;
    --nbtn-hmargin: 5px;
    --nbtn-padding: 10px;

    /* ==== rbtn -> Record Button ==== */
    --rbtn-bwidth: 1.5px;
    --rbtn-padding: 8.5px;

    /* ==== nicon -> Nav(igation) Icon ==== */
    --nicon-length: 30px;

    /* ==== nlabel -> Nav(igation) Label ==== */
    --nlabel-fsize: 20px;
    --nlabel-fweight: 400;

    /* ==== crlabelctr -> Current Recording Label Container ==== */
    --crlabelctr-rinset: 15px;
    --crlabelctr-binset: 66px;
    --crlabelctr-alt-binset: 93.5px;
    --crlabelctr-linset: 15px;
    --crlabelctr-bwidth: 1.5px;
    --crlabelctr-bradius: 10px;
    --crlabelctr-hgap: 10px;
    --crlabelctr-tpadding: 2.5px;
    --crlabelctr-hpadding: 2.5px;
    --crlabelctr-bpadding: 25px;

    /* ==== crtimelabel -> Current Recording Time Label ==== */
    --crtimelabel-width: 4ch;
    --crtimelabel-fsize: 15px;
    --crtimelabel-fweight: 300;

    /* ==== crgamelabel -> Current Recording Game Label ==== */
    --crgamelabel-fsize: 12px;
    --crgamelabel-fweight: 400;

    /* ==== arresumelabel -> Auto Record Resume Label ==== */
    --arresumelabel-height: 36px;
    --arresumelabel-hmargin: 5px;
    --arresumelabel-fsize: 12px;
    --arresumelabel-fweight: 400;

    /* ==== nticon -> Nav(igation) Toggle Icon ==== */
    --nticon-length: 15px;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bwidth: 1.5px;
    --dctr-bradius: 10px;
    --dctr-height: 301px;

    /* ==== dicon -> Directory Icon ==== */
    --dicon-length: 15px;

    /* ==== dgallery -> Directory Gallery ==== */
    --dgallery-hmargin: 10px;
    --dgallery-vpadding: 8.5px;

    --dgallery-sb-track-hmargin: -7px;

    /* ==== dstatuslabel -> Directory Status Label ==== */
    --dstatuslabel-fsize: 40px;
    --dstatuslabel-fweight: 500;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-bradius: 10px;
    --vpctr-vgap: 10px;
    --vpctr-padding: 10px;
    
    /* ==== vtctr -> Video Thumbnail Container ==== */
    --vtctr-bradius: 10px;

    /* ==== vtimage -> Video Thumbnail Image ==== */
    --vtimage-height: 144px;

    /* ==== vtdurlabel -> Video Thumbnail Duration Label ==== */
    --vtdurlabel-rinset: 5px;
    --vtdurlabel-binset: 5px;
    --vtdurlabel-bradius: 3px;
    --vtdurlabel-padding: 5px;
    --vtdurlabel-fsize: 15px;
    --vtdurlabel-fweight: 400;

    /* ==== vplabelctr -> Video Preview Label Container ==== */
    --vplabelctr-height: 22px;
    --vplabelctr-width: 256px;

    /* ==== vplabel -> Video Preview Label ==== */
    --vplabel-fsize: 17px;
    --vplabel-fweight: 350;

    /* ==== vpagelabel -> Video Preview Age Label ==== */
    --vpagelabel-lmargin: 10px;

    /* ==== vpnamelabel -> Video Preview Name Label ==== */
    --vpnamelabel-width: 256px;
    --vpnamelabel-fsize: 11px;
    --vpnamelabel-fweight: 300;

    /* ==== vpbtnctr -> Video Preview Button Container ==== */
    --vpbtnctr-hgap: 10px;

    /* ==== vpbtn -> Video Preview Button ==== */
    --vpbtn-bradius: 5px;
    --vpbtn-padding: 2px;

    /* ==== vpicon -> Video Preview Icon ==== */
    --vpicon-length: 30px;

    /* ==== vctr -> Video Container ==== */
    --vctr-bradius: 10px;
    --vctr-height: 525px;
    --vctr-width: 1100px;

    /* ==== ppstatusicon -> Play Pause Status Icon ==== */
    --ppstatusicon-length: 80px;

    /* ==== sslider -> Seek Slider ==== */
    --sslider-height: 3px;
    --sslider-hmargin: 6px;
    --sslider-tpadding: 10px;
    --sslider-bpadding: 2.25px;

    /* ==== strack -> Seek Track ==== */
    --strack-transform: 2.5;

    /* ==== mbar -> Media Bar ==== */
    --mbar-tpadding: 1px;
    --mbar-bpadding: 3px;

    /* ==== mbtn -> Media Button ==== */
    /* --mbtn-bradius: 5px; */
    --mbtn-hmargin: 3px;
    
    /* ==== prbtn -> Playback Rate Button ==== */
    --prbtn-vpadding: 10px;

    /* ==== micon -> Media Icon ==== */
    --micon-length: 40px;

    /* ==== prlabel -> Playback Rate Label ==== */
    --prlabel-fsize: 20px;
    --prlabel-fweight: 400;

    /* ==== prvaluelabel -> Playback Rate Value Label ==== */
    --prvaluelabel-width: 2.5ch;

    /* ==== vsliderctr -> Volume Slider Container ==== */
    --vsliderctr-hpadding: 2px;

    /* ==== prsliderctr -> Playback Rate Slider Container ==== */
    --prsliderctr-rpadding: 3px;
    --prsliderctr-lpadding: 7px;

    /* ==== mslider -> Media Slider ==== */
    --mslider-height: 4px;
    --mslider-vpadding: 18px;

    /* ==== mtrack-> Media Track ==== */
    --mtrack-bradius: 2px;

    /* ==== mthumb -> Media Thumb ==== */
    --mthumb-tinset: -6px;
    --mthumb-linset: calc(var(--mthumb-width) / -2);
    --mthumb-bradius: 2px;
    --mthumb-height: calc(-2 * var(--mthumb-tinset) + var(--mslider-height));
    --mthumb-width: 4px;

    /* ==== vslider -> Volume Slider ==== */
    --vslider-width: 100px;

    /* ==== voverlay -> Volume Overlay ==== */
    --voverlay-width: 100px;

    /* ==== prslider -> Playback Rate Slider ==== */
    --prslider-width: 150px;

    /* ==== proverlay -> Playback Rate Overlay ==== */
    --proverlay-linset: -7px;
    --proverlay-height: 20px;
    --proverlay-width: 160px;
    --proverlay-swidth: 1px;

    --proverlay-text-fsize: 10px;
    --proverlay-text-fweight: 100;

    /* ==== cvlabel -> Current Video Label ==== */
    --cvlabel-fsize: 15px;
    --cvlabel-fweight: 400;

    /* ==== cvtimelabel -> Current Video Time Label ==== */
    --cvtimelabel-width: 7ch;

    /* ==== tslider -> Timeline Slider ==== */
    --tslider-bradius: 10px;
    --tslider-height: 60px;
    --tslider-width: var(--vctr-width);

    /* ==== toverlay -> Timeline Overlay ==== */
    --toverlay-swidth: 1px;

    --toverlay-text-fsize: 12px;
    --toverlay-text-fweight: 10;

    /* ==== tthumb -> Timeline Thumb ==== */
    --tthumb-tinset: -12px;
    --tthumb-linset: calc(var(--tthumb-width) / -2);
    --tthumb-bradius: calc(var(--tthumb-width) / 2);
    --tthumb-height: calc(-2 * var(--tthumb-tinset) + var(--tslider-height));
    --tthumb-width: 4px;

    /* ==== cthumb -> Clip Thumb ==== */
    --cthumb-tinset: calc(var(--tthumb-tinset) - 6px);
    --cthumb-linset: calc(var(--cthumb-width) / -2);
    --cthumb-bradius: calc(var(--cthumb-width) / 4);
    --cthumb-height: calc(-2 * var(--cthumb-tinset) + var(--tslider-height));
    --cthumb-width: 12px;
    --cthumb-swidth: 1px;




    /* ==== cctr -> Clip Container ==== */
    --cctr-bwidth: 1.5px;
    --cctr-bradius: 10px;

    --cctr-svg-length: 45px;
    --cctr-svg-rmargin: 10px;
    --cctr-svg-lmargin: 8.5px;

    /* ==== cbar -> Clip Bar ==== */
    --cbar-hgap: 30px;
    --cbar-vpadding: 3.5px;
    --cbar-width: 980px;

    /* ==== cstctr -> Clip Setting Container ==== */
    --cstctr-bwidth: 1.5px;
    --cstctr-bradius: 10px;
    --cstctr-vgap: 5px;
    --cstctr-vpadding: 8.5px;
    --cstctr-hpadding: 23.5px;

    /* ==== cstlabel -> Clip Setting Label ==== */
    --cstlabel-fsize: 17px;
    --cstlabel-fweight: 350;

    /* ==== cstpill -> Clip Setting Pill ==== */
    --cstpill-bradius: 5px;

    /* ==== csticon -> Clip Setting Icon ==== */
    --csticon-length: 25px;
    --csticon-margin: 5px;

    /* ==== cstfield -> Clip Setting Field ==== */
    --cstfield-hpadding: 10px;
    --cstfield-width: 65px;

    /* ==== cbtn -> Clip Button ==== */
    --cbtn-bwidth: 1.5px;
    --cbtn-bradius: 10px;
    --cbtn-hgap: 10px;
    --cbtn-width: 150px;
    --cbtn-padding: 8.5px;

    /* ==== cicon -> Clip Icon ==== */
    --cicon-length: 25px;

    /* ==== clabel -> Clip Label ==== */
    --clabel-fsize: 17px;
    --clabel-fweight: 350;

    /* ==== cticon -> Clip Toggle Icon ==== */
    --cticon-length: 15px;




    /* ==== gstgroupctr -> General Settings Group Container ==== */
    --gstgroupctr-hgap: 30px;

    /* ==== gstctr -> General Setting Container ==== */
    --gstctr-bwidth: 1.5px;
    --gstctr-bradius: 10px;
    --gstctr-vgap: 5px;
    --gstctr-vpadding: 8.5px;
    --gstctr-hpadding: 23.5px;

    /* ==== gstlabel -> General Setting Label ==== */
    --gstlabel-fsize: 17px;
    --gstlabel-fweight: 350;

    /* ==== gstpill -> General Setting Pill ==== */
    --gstpill-bradius: 10px;

    /* ==== gsticon -> General Setting Icon ==== */
    --gsticon-length: 25px;
    --gsticon-margin: 5px;

    /* ==== gstfield -> General Setting Field ==== */
    --gstfield-hpadding: 10px;
    --gstfield-width: 110px;
    --gstfield-alt-width: 500px;

    /* ==== gsttswitch -> General Setting Toggle Switch ==== */
    --gsttswitch-width: 66px;

    /* ==== gsttfield -> General Setting Toggle Field ==== */
    --gsttfield-hpadding: 10px;
    --gsttfield-width: 110px;

    /* ==== gstticon -> General Setting Toggle Icon ==== */
    --gstticon-inset: 2px;
    --gstticon-bradius: 7.5px;
    --gstticon-height: 31px;
    --gstticon-width: 31px;
    --gstticon-translateX: 31px;

    /* ==== gstsliderctr -> General Setting Slider Container ==== */
    --gstsliderctr-hmargin: 11.5px;

    /* ==== gstslider -> General Setting Slider ==== */
    --gstslider-height: 4px;
    --gstslider-vpadding: 15.5px;
    --gstslider-width: 107px;

    /* ==== gsttrack -> General Setting Track ==== */
    --gsttrack-bradius: 2px;

    /* ==== gstthumb -> General Setting Thumb ==== */
    --gstthumb-tinset: -6px;
    --gstthumb-linset: -2px;
    --gstthumb-bradius: 2px;
    --gstthumb-height: 16px;
    --gstthumb-width: 4px;

    /* ==== gstdesc -> General Setting Description ==== */
    --gstdesc-fsize: 11px;
    --gstdesc-fweight: 300;
}