html {
    /* --usin-scale: 0.5; */
    /* --usin-scale: 2; */
    --usin-scale: 1;
    --effect-scale: 0.5;

    /* ==== scbar -> Scroll Bar ==== */
    --scbar-length: calc(20px * var(--usin-scale));  /* width if vertical, height is horizontal of the whole scroll bar */

    --scbar-thumb-bwidth: calc(7px * var(--usin-scale));
    --scbar-thumb-bradius: calc(10px * var(--usin-scale));

    /* ==== iicon -> Initialization Icon ==== */
    --iicon-length: 100px;

    /* ==== inamelabel -> Initialization Name Label ==== */
    --inamelabel-height: 100px;
    --inamelabel-lheight: 100px;
    --inamelabel-fsize: 80px;
    --inamelabel-fweight: 600;

    /* ==== istatuslabel -> Initialization Status Label ==== */
    --istatuslabel-height: 23px;
    --istatuslabel-lheight: 23px;
    --istatuslabel-tmargin: 50px;
    --istatuslabel-fsize: 18px;
    --istatuslabel-fweight: 300;

    /* ==== ctarea -> Client Area ==== */
    --ctarea-cgap: calc(12px * var(--effect-scale) * var(--usin-scale));

    /* ==== cfctr -> Confirmation Container ==== */
    --cfctr-bradius: calc(10px * var(--usin-scale));
    --cfctr-rgap: calc(20px * var(--usin-scale));
    --cfctr-padding: calc(20px * var(--usin-scale));

    /* ==== cflabel -> Confirmation Label ==== */
    --cflabel-height: calc(38px * var(--usin-scale));
    --cflabel-lheight: calc(38px * var(--usin-scale));
    --cflabel-maxwidth: calc(260px * var(--usin-scale));
    --cflabel-fsize: calc(30px * var(--usin-scale));
    --cflabel-fweight: 400;

    /* ==== cfloadingicon -> Confirmation Loading Icon ==== */
    --cfloadingicon-length: 100px;
    --cfloadingicon-hmargin: 80px;
    --cfloadingicon-cpath: circle(25%);

    /* ==== cfsecondarypath -> Confirmation Secondary Path ==== */
    --cfsecondarypath-rotate: 30deg;

    /* ==== cftertiarypath -> Confirmation Tertiary Path ==== */
    --cftertiarypath-rotate: 60deg;

    /* ==== cffourthpath -> Confirmation Fourth Path ==== */
    --cffourthpath-rotate: 90deg;

    /* ==== cffifthpath -> Confirmation Fifth Path ==== */
    --cffifthpath-rotate: 120deg;

    /* ==== cfsixthpath -> Confirmation Sixth Path ==== */
    --cfsixthpath-rotate: 150deg;

    /* ==== cfseventhpath -> Confirmation Seventh Path ==== */
    --cfseventhpath-rotate: 180deg;

    /* ==== cfeighthpath -> Confirmation Eighth Path ==== */
    --cfeighthpath-rotate: 210deg;

    /* ==== cfninthpath -> Confirmation Ninth Path ==== */
    --cfninthpath-rotate: 240deg;

    /* ==== cftenthpath -> Confirmation Tenth Path ==== */
    --cftenthpath-rotate: 270deg;

    /* ==== cfeleventhpath -> Confirmation Eleventh Path ==== */
    --cfeleventhpath-rotate: 300deg;

    /* ==== cftwelfthpath -> Confirmation Twelfth Path ==== */
    --cftwelfthpath-rotate: 330deg;

    /* ==== cffield -> Confirmation Field ==== */
    --cffield-bradius: calc(10px * var(--usin-scale));
    --cffield-height: calc(35px * var(--usin-scale));
    --cffield-lheight: calc(35px * var(--usin-scale));
    --cffield-fsize: calc(14px * var(--usin-scale));
    --cffield-fweight: 400;

    /* ==== cfnamefield -> Confirmation Name Field ==== */
    --cfnamefield-rpadding: calc(5px * var(--usin-scale));
    --cfnamefield-lpadding: calc(10px * var(--usin-scale));
    --cfnamefield-width: calc(210px * var(--usin-scale));

    /* ==== cfformatfield -> Confirmation Format Field ==== */
    --cfformatfield-rpadding: calc(10px * var(--usin-scale));
    --cfformatfield-lpadding: calc(5px * var(--usin-scale));
    --cfformatfield-width: calc(50px * var(--usin-scale));

    /* ==== cfdesc -> Confirmation Description ==== */
    --cfdesc-height: calc(13px * var(--usin-scale));
    --cfdesc-lheight: calc(13px * var(--usin-scale));
    --cfdesc-maxwidth: calc(260px * var(--usin-scale));
    --cfdesc-fsize: calc(10px * var(--usin-scale));
    --cfdesc-fweight: 300;

    /* ==== cfbtnctr -> Confirmation Button Container ==== */
    --cfbtnctr-cgap: calc(10px * var(--usin-scale));

    /* ==== cfbtn -> Confirmation Button ==== */
    --cfbtn-bradius: calc(5px * var(--usin-scale));
    --cfbtn-height: calc(16px * var(--usin-scale));
    --cfbtn-lheight: calc(16px * var(--usin-scale));
    --cfbtn-padding: calc(10.5px * var(--usin-scale));
    --cfbtn-width: calc(104px * var(--usin-scale));
    --cfbtn-fsize: calc(12px * var(--usin-scale));
    --cfbtn-fweight: 400;

    /* ==== cblock -> Content Block ==== */
    --cblock-tlbradius: calc(10px * var(--usin-scale));

    /* ==== cstatuslabel -> Content Status Label ==== */
    --cstatuslabel-tinset: calc(40px * var(--usin-scale));
    --cstatuslabel-bradius: calc(10px * var(--usin-scale));
    --cstatuslabel-height: calc(20px * var(--usin-scale));
    --cstatuslabel-lheight: calc(20px * var(--usin-scale));
    --cstatuslabel-padding: calc(10px * var(--usin-scale));
    --cstatuslabel-maxwidth: calc(800px * var(--usin-scale));
    --cstatuslabel-fsize: calc(15px * var(--usin-scale));
    --cstatuslabel-fweight: 300;

    /* ==== csection -> Content Section ==== */
    --csection-rgap: calc(10px * var(--usin-scale));
    --csection-vpadding: calc(10px * var(--usin-scale));
    --csection-hpadding: calc(25px * var(--usin-scale));

    /* ==== clabel1 -> Content Label 1 ==== */
    --clabel1-height: calc(60px * var(--usin-scale));
    --clabel1-lheight: calc(60px * var(--usin-scale));
    --clabel1-fsize: calc(48px * var(--usin-scale));
    --clabel1-fweight: 500;

    /* ==== cdivider1 -> Content Divider 1 ==== */
    --cdivider1-height: 1.5px;
    --cdivider1-lmargin: calc(-5px * var(--usin-scale));
    --cdivider1-width: calc(100% + 25px * var(--usin-scale));

    /* ==== cctr1 -> Content Container 1 ==== */
    --cctr1-bradius: calc(10px * var(--usin-scale));
    --cctr1-rgap: calc(30px * var(--usin-scale));
    --cctr1-vpadding: calc(10px * var(--usin-scale));
    --cctr1-hpadding: calc(25px * var(--usin-scale));

    --cctr1-sb-track-vmargin: calc(3px * var(--usin-scale));

    /* ==== cctr2 -> Content Container 2 ==== */
    --cctr2-rgap: calc(10px * var(--usin-scale));

    /* ==== cctr3 -> Content Container 3 ==== */
    --cctr3-rgap: calc(7.5px * var(--usin-scale));
    --cctr3-cgap: calc(20px * var(--usin-scale));
    --cctr3-maxheight: calc(87.5px * var(--usin-scale));

    /* ==== clabel2 -> Content Label 2 ==== */
    --clabel2-height: calc(40px * var(--usin-scale));
    --clabel2-lheight: calc(40px * var(--usin-scale));
    --clabel2-fsize: calc(32px * var(--usin-scale));
    --clabel2-fweight: 400;

    /* ==== cdivider2 -> Content Divider 2 ==== */
    --cdivider2-height: 1.5px;
    --cdivider2-lmargin: calc(-5px * var(--usin-scale));
    --cdivider2-width: calc(100% + 25px * var(--usin-scale));

    /* ==== tversionlabel -> Title Version Label ==== */
    --tversionlabel-height: calc(14px * var(--usin-scale));
    --tversionlabel-lheight: calc(14px * var(--usin-scale));
    --tversionlabel-lmargin: calc(10px * var(--usin-scale));
    --tversionlabel-fsize: calc(11px * var(--usin-scale));
    --tversionlabel-fweight: 300;

    /* ==== tbarbtn -> Title Bar Button ==== */
    --tbarbtn-vpadding: calc(7.5px * var(--usin-scale));
    --tbarbtn-hpadding: calc(15px * var(--usin-scale));

    /* ==== tbaricon -> Title Bar Icon ==== */
    --tbaricon-length: calc(10px * var(--usin-scale));

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-trbradius: calc(10px * var(--usin-scale));

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-rgap: calc(10px * var(--usin-scale));
    --nbar-tpadding: calc(10px * var(--usin-scale));
    --nbar-hpadding: calc(10px * var(--usin-scale));
    --nbar-bpadding: calc(20px * var(--usin-scale));
    --nbar-width: calc(80px * var(--usin-scale));
    --nbar-alt-width: calc(211px * var(--usin-scale));

    /* ==== bdisplay -> Brand Display ==== */
    --bdisplay-cgap: calc(20px * var(--usin-scale));

    /* ==== bicon -> Brand Icon ==== */
    --bicon-length: calc(60px * var(--usin-scale));

    /* ==== bnamelabel -> Brand Name Label ==== */
    --bnamelabel-height: calc(36px * var(--usin-scale));
    --bnamelabel-lheight: calc(36px * var(--usin-scale));
    --bnamelabel-maxwidth: calc(111px * var(--usin-scale));
    --bnamelabel-fsize: calc(28px * var(--usin-scale));
    --bnamelabel-fweight: 600;

    /* ==== ndivider -> Nav(igation) Divider ==== */
    --ndivider-height: 1.5px;
    --ndivider-lmargin: calc(-5px * var(--usin-scale));
    --ndivider-width: calc(100% + 10px * var(--usin-scale));

    /* ==== nbarbtn -> Nav(igation) Bar Button ==== */
    --nbarbtn-bradius: calc(10px * var(--usin-scale));
    --nbarbtn-cgap: calc(40px * var(--usin-scale));
    --nbarbtn-hmargin: calc(5px * var(--usin-scale));
    --nbarbtn-padding: calc(10px * var(--usin-scale));

    /* ==== rbarbtn -> Record Bar Button ==== */
    --rbarbtn-bwidth: calc(1.5px * var(--usin-scale));
    --rbarbtn-padding: calc(8.5px * var(--usin-scale));

    /* ==== nbaricon -> Nav(igation) Bar Icon ==== */
    --nbaricon-length: calc(30px * var(--usin-scale));

    /* ==== nbarlabel -> Nav(igation) Bar Label ==== */
    --nbarlabel-height: calc(26px * var(--usin-scale));
    --nbarlabel-lheight: calc(26px * var(--usin-scale));
    --nbarlabel-maxwidth: calc(91px * var(--usin-scale));
    --nbarlabel-fsize: calc(20px * var(--usin-scale));
    --nbarlabel-fweight: 400;

    /* ==== curlabelctr -> Current Recording Label Container ==== */
    --curlabelctr-rinset: calc(15px * var(--usin-scale));
    --curlabelctr-binset: calc(78px * var(--usin-scale));
    --curlabelctr-alt-binset: calc(105.5px * var(--usin-scale));
    --curlabelctr-linset: calc(15px * var(--usin-scale));
    --curlabelctr-bwidth: calc(1.5px * var(--usin-scale));
    --curlabelctr-bradius: calc(10px * var(--usin-scale));
    --curlabelctr-cgap: calc(10px * var(--usin-scale));
    --curlabelctr-tpadding: calc(2.5px * var(--usin-scale));
    --curlabelctr-hpadding: calc(2.5px * var(--usin-scale));
    --curlabelctr-bpadding: calc(25px * var(--usin-scale));

    /* ==== curtimelabel -> Current Recording Time Label ==== */
    --curtimelabel-height: calc(14px * var(--usin-scale));
    --curtimelabel-lheight: calc(14px * var(--usin-scale));
    --curtimelabel-width: calc(43px * var(--usin-scale));
    --curtimelabel-fsize: calc(10.75px * var(--usin-scale));
    --curtimelabel-fweight: 300;

    /* ==== curprogramlabel -> Current Recording Program Label ==== */
    --curprogramlabel-height: calc(16px * var(--usin-scale));
    --curprogramlabel-lheight: calc(16px * var(--usin-scale));
    --curprogramlabel-maxwidth: calc(120px * var(--usin-scale));
    --curprogramlabel-fsize: calc(12px * var(--usin-scale));
    --curprogramlabel-fweight: 400;

    /* ==== arresumelabel -> Auto Record Resume Label ==== */
    --arresumelabel-height: calc(48px * var(--usin-scale));
    --arresumelabel-lheight: calc(16px * var(--usin-scale));
    --arresumelabel-hmargin: calc(5px * var(--usin-scale));
    --arresumelabel-fsize: calc(12px * var(--usin-scale));
    --arresumelabel-fweight: 400;

    /* ==== ntoggleicon -> Nav(igation) Toggle Icon ==== */
    --ntoggleicon-length: calc(15px * var(--usin-scale));

    /* ==== sgctr -> Storage Container ==== */
    --sgctr-rgap: calc(2px * var(--usin-scale));

    /* ==== dlabel2 -> Directory Label 2==== */
    --dlabel2-height: calc(20px * var(--usin-scale));
    --dlabel2-lheight: calc(20px * var(--usin-scale));
    --dlabel2-maxwidth: calc(250px * var(--usin-scale));
    --dlabel2-fsize: calc(15px * var(--usin-scale));
    --dlabel2-fweight: 400;

    /* ==== dlabel3 -> Directory Label 3 ==== */
    --dlabel3-height: calc(13px * var(--usin-scale));
    --dlabel3-lheight: calc(13px * var(--usin-scale));
    --dlabel3-maxwidth: calc(125px * var(--usin-scale));
    --dlabel3-fsize: calc(10px * var(--usin-scale));
    --dlabel3-fweight: 350;

    /* ==== dbar -> Directory Bar ==== */
    --dbar-bwidth: calc(1.5px * var(--usin-scale));
    --dbar-bradius: calc(10px * var(--usin-scale));
    --dbar-cgap: calc(5px * var(--usin-scale));
    --dbar-padding: calc(3.5px * var(--usin-scale));

    /* ==== dstfield -> Directory Setting Field ==== */
    --dstfield-bradius: calc(5px * var(--usin-scale));
    --dstfield-height: calc(30px * var(--usin-scale));
    --dstfield-lheight: calc(30px * var(--usin-scale));
    --dstfield-hpadding: calc(10px * var(--usin-scale));
    --dstfield-width: calc(150px * var(--usin-scale));
    --dstfield-alt-width: calc(110px * var(--usin-scale));
    --dstfield-fsize: calc(14px * var(--usin-scale));
    --dstfield-fweight: 400;

    /* ==== dbarbtn -> Directory Bar Button ==== */
    --dbarbtn-bradius: calc(5px * var(--usin-scale));

    /* ==== dbaricon -> Directory Bar Icon ==== */
    --dbaricon-length: calc(30px * var(--usin-scale));

    /* ==== dctr -> Directory Container ==== */
    --dctr-bwidth: calc(1.5px * var(--usin-scale));
    --dctr-bradius: calc(10px * var(--usin-scale));
    --dctr-height: calc(304px * var(--usin-scale));

    /* ==== dicon -> Directory Icon ==== */
    --dicon-length: calc(15px * var(--usin-scale));

    /* ==== dgallery -> Directory Gallery ==== */
    --dgallery-hmargin: calc(10px * var(--usin-scale));
    --dgallery-vpadding: calc(8.5px * var(--usin-scale));

    --dgallery-sb-track-hmargin: calc(-7px * var(--usin-scale));

    /* ==== dstatuslabel -> Directory Status Label ==== */
    --dstatuslabel-height: calc(50px * var(--usin-scale));
    --dstatuslabel-lheight: calc(50px * var(--usin-scale));
    --dstatuslabel-maxwidth: 100%;
    --dstatuslabel-fsize: calc(40px * var(--usin-scale));
    --dstatuslabel-fweight: 500;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-bradius: calc(10px * var(--usin-scale));
    --vpctr-rgap: calc(10px * var(--usin-scale));
    --vpctr-padding: calc(10px * var(--usin-scale));

    /* ==== vtnctr -> Video Thumbnail Container ==== */
    --vtnctr-bradius: calc(10px * var(--usin-scale));

    /* ==== vtnimage -> Video Thumbnail Image ==== */
    --vtnimage-height: calc(144px * var(--usin-scale));

    /* ==== vtndurlabel -> Video Thumbnail Duration Label ==== */
    --vtndurlabel-rinset: calc(5px * var(--usin-scale));
    --vtndurlabel-binset: calc(5px * var(--usin-scale));
    --vtndurlabel-bradius: calc(3px * var(--usin-scale));
    --vtndurlabel-height: calc(20px * var(--usin-scale));
    --vtndurlabel-lheight: calc(20px * var(--usin-scale));
    --vtndurlabel-padding: calc(5px * var(--usin-scale));
    --vtndurlabel-maxwidth: calc(150px * var(--usin-scale));
    --vtndurlabel-fsize: calc(15px * var(--usin-scale));
    --vtndurlabel-fweight: 400;

    /* ==== vplabelctr -> Video Preview Label Container ==== */
    --vplabelctr-cgap: calc(15px * var(--usin-scale));

    /* ==== vplabel -> Video Preview Label ==== */
    --vplabel-height: calc(22px * var(--usin-scale));
    --vplabel-lheight: calc(22px * var(--usin-scale));
    --vplabel-fsize: calc(17px * var(--usin-scale));
    --vplabel-fweight: 350;

    /* ==== vpprogramlabel -> Video Preview Program Label ==== */
    --vpprogramlabel-maxwidth: calc(141px * var(--usin-scale));

    /* ==== vpagelabel -> Video Preview Age Label ==== */
    --vpagelabel-maxwidth: calc(100px * var(--usin-scale));

    /* ==== vpnamelabel -> Video Preview Name Label ==== */
    --vpnamelabel-height: calc(14px * var(--usin-scale));
    --vpnamelabel-lheight: calc(14px * var(--usin-scale));
    --vpnamelabel-maxwidth: calc(256px * var(--usin-scale));
    --vpnamelabel-fsize: calc(11px * var(--usin-scale));
    --vpnamelabel-fweight: 300;

    /* ==== vpbtnctr -> Video Preview Button Container ==== */
    --vpbtnctr-cgap: calc(10px * var(--usin-scale));

    /* ==== vpbtn -> Video Preview Button ==== */
    --vpbtn-bradius: calc(5px * var(--usin-scale));
    --vpbtn-padding: calc(2px * var(--usin-scale));

    /* ==== vpicon -> Video Preview Icon ==== */
    --vpicon-length: calc(30px * var(--usin-scale));

    /* ==== vctr -> Video Container ==== */
    --vctr-bradius: calc(10px * var(--usin-scale));
    --vctr-height: calc(525px * var(--usin-scale));
    --vctr-width: calc(1100px * var(--usin-scale));

    /* ==== plpastatusicon -> Play Pause Status Icon ==== */
    --plpastatusicon-length: calc(80px * var(--usin-scale));

    /* ==== sslider -> Seek Slider ==== */
    --sslider-height: calc(3px * var(--usin-scale));
    --sslider-hmargin: calc(6px * var(--usin-scale));
    --sslider-tpadding: calc(10px * var(--usin-scale));
    --sslider-bpadding: calc(2.25px * var(--usin-scale));

    /* ==== strack -> Seek Track ==== */
    --strack-transform: calc(2.5 * var(--usin-scale));

    /* ==== mbar -> Media Bar ==== */
    --mbar-tpadding: calc(1px * var(--usin-scale));
    --mbar-bpadding: calc(3px * var(--usin-scale));

    /* ==== mbarbtn -> Media Bar Button ==== */
    --mbarbtn-hmargin: calc(3px * var(--usin-scale));
    
    /* ==== pbrtbarbtn -> Playback Rate Bar Button ==== */
    --pbrtbarbtn-vpadding: calc(7px * var(--usin-scale));

    /* ==== mbaricon -> Media Bar Icon ==== */
    --mbaricon-length: calc(40px * var(--usin-scale));

    /* ==== pbrtlabel -> Playback Rate Label ==== */
    --pbrtlabel-height: calc(26px * var(--usin-scale));
    --pbrtlabel-lheight: calc(26px * var(--usin-scale));
    --pbrtlabel-width: calc(2.5ch * var(--usin-scale));
    --pbrtlabel-fsize: calc(20px * var(--usin-scale));
    --pbrtlabel-fweight: 400;

    /* ==== vvosliderctr -> Video Volume Slider Container ==== */
    --vvosliderctr-hpadding: calc(2px * var(--usin-scale));

    /* ==== pbrtsliderctr -> Playback Rate Slider Container ==== */
    --pbrtsliderctr-rpadding: calc(3px * var(--usin-scale));
    --pbrtsliderctr-lpadding: calc(7px * var(--usin-scale));

    /* ==== mslider -> Media Slider ==== */
    --mslider-height: calc(4px * var(--usin-scale));
    --mslider-vpadding: calc(18px * var(--usin-scale));

    /* ==== vvoslider -> Video Volume Slider ==== */
    --vvoslider-width: calc(100px * var(--usin-scale));
    --vvoslider-maxwidth: calc(100px * var(--usin-scale));

    /* ==== pbrtslider -> Playback Rate Slider ==== */
    --pbrtslider-width: calc(150px * var(--usin-scale));
    --pbrtslider-maxwidth: calc(150px * var(--usin-scale));

    /* ==== mtrack-> Media Track ==== */
    --mtrack-bradius: calc(2px * var(--usin-scale));

    /* ==== vvooverlay -> Video Volume Overlay ==== */
    --vvooverlay-width: calc(100px * var(--usin-scale));

    /* ==== pbrtoverlay -> Playback Rate Overlay ==== */
    --pbrtoverlay-linset: calc(-7px * var(--usin-scale));
    --pbrtoverlay-height: calc(20px * var(--usin-scale));
    --pbrtoverlay-width: calc(160px * var(--usin-scale));
    --pbrtoverlay-swidth: calc(1px * var(--usin-scale));

    /* ==== pbrttext -> Playback Rate Text ==== */
    --pbrttext-fsize: calc(10px * var(--usin-scale));
    --pbrttext-fweight: 100;

    /* ==== mthumb -> Media Thumb ==== */
    --mthumb-tinset: calc(-6px * var(--usin-scale));
    --mthumb-linset: calc(-2px * var(--usin-scale));
    --mthumb-bradius: calc(2px * var(--usin-scale));
    --mthumb-height: calc(16px * var(--usin-scale));
    --mthumb-width: calc(4px * var(--usin-scale));

    /* ==== cuvlabel -> Current Video Label ==== */
    --cuvlabel-height: calc(20px * var(--usin-scale));
    --cuvlabel-lheight: calc(20px * var(--usin-scale));
    --cuvlabel-fsize: calc(15px * var(--usin-scale));
    --cuvlabel-fweight: 400;

    /* ==== cuvtimelabel -> Current Video Time Label ==== */
    --cuvtimelabel-width: calc(7ch * var(--usin-scale));

    /* ==== cuvdurlabel -> Current Video Duration Label ==== */
    --cuvdurlabel-width: calc(8ch * var(--usin-scale));

    /* ==== tlslider -> Timeline Slider ==== */
    --tlslider-bradius: calc(10px * var(--usin-scale));
    --tlslider-height: calc(60px * var(--usin-scale));
    --tlslider-width: calc(1100px * var(--usin-scale));

    /* ==== tloverlay -> Timeline Overlay ==== */
    --tloverlay-swidth: calc(1px * var(--usin-scale));

    /* ==== tltext -> Timeline Text ==== */
    --tltext-fsize: calc(12px * var(--usin-scale));
    --tltext-fweight: 10;

    /* ==== tlthumb -> Timeline Thumb ==== */
    --tlthumb-tinset: calc(-12px * var(--usin-scale));
    --tlthumb-linset: calc(-2px * var(--usin-scale));
    --tlthumb-bradius: calc(3px * var(--usin-scale));
    --tlthumb-height: calc(84px * var(--usin-scale));
    --tlthumb-width: calc(4px * var(--usin-scale));

    /* ==== cpthumb -> Clip Thumb ==== */
    --cpthumb-tinset: calc(-16px * var(--usin-scale));
    --cpthumb-linset: calc(-4px * var(--usin-scale));
    --cpthumb-bradius: calc(3px * var(--usin-scale));
    --cpthumb-height: calc(92px * var(--usin-scale));
    --cpthumb-width: calc(8px * var(--usin-scale));

    /* ==== cppath -> Clip Path ==== */
    --cppath-swidth: calc(1px * var(--usin-scale));

    /* ==== cpctr -> Clip Container ==== */
    --cpctr-bwidth: calc(1.5px * var(--usin-scale));
    --cpctr-bradius: calc(10px * var(--usin-scale));

    /* ==== cpicon -> Clip Icon ==== */
    --cpicon-length: calc(45px * var(--usin-scale));
    --cpicon-rmargin: calc(10px * var(--usin-scale));
    --cpicon-lmargin: calc(8.5px * var(--usin-scale));

    /* ==== cpbar -> Clip Bar ==== */
    --cpbar-cgap: calc(20px * var(--usin-scale));
    --cpbar-vpadding: calc(3.5px * var(--usin-scale));
    --cpbar-width: calc(960px * var(--usin-scale));

    /* ==== cpstctr -> Clip Setting Container ==== */
    --cpstctr-bwidth: calc(1.5px * var(--usin-scale));
    --cpstctr-bradius: calc(10px * var(--usin-scale));
    --cpstctr-rgap: calc(5px * var(--usin-scale));
    --cpstctr-vpadding: calc(8.5px * var(--usin-scale));
    --cpstctr-hpadding: calc(23.5px * var(--usin-scale));

    /* ==== cpstlabel -> Clip Setting Label ==== */
    --cpstlabel-height: calc(22px * var(--usin-scale));
    --cpstlabel-lheight: calc(22px * var(--usin-scale));
    --cpstlabel-width: calc(120px * var(--usin-scale));
    --cpstlabel-fsize: calc(17px * var(--usin-scale));
    --cpstlabel-fweight: 350;

    /* ==== cpstpill -> Clip Setting Pill ==== */
    --cpstpill-bradius: calc(5px * var(--usin-scale));

    /* ==== cpsticon -> Clip Setting Icon ==== */
    --cpsticon-length: calc(25px * var(--usin-scale));
    --cpsticon-margin: calc(5px * var(--usin-scale));

    /* ==== cpstfield -> Clip Setting Field ==== */
    --cpstfield-height: calc(35px * var(--usin-scale));
    --cpstfield-lheight: calc(35px * var(--usin-scale));
    --cpstfield-hpadding: calc(10px * var(--usin-scale));
    --cpstfield-width: calc(75px * var(--usin-scale));
    --cpstfield-fsize: calc(13px * var(--usin-scale));
    --cpstfield-fweight: 400;

    /* ==== cpbarbtn -> Clip Bar Button ==== */
    --cpbarbtn-bwidth: calc(1.5px * var(--usin-scale));
    --cpbarbtn-bradius: calc(10px * var(--usin-scale));
    --cpbarbtn-cgap: calc(12.5px * var(--usin-scale));
    --cpbarbtn-width: calc(150px * var(--usin-scale));
    --cpbarbtn-padding: calc(8.5px * var(--usin-scale));

    /* ==== cpbaricon -> Clip Bar Icon ==== */
    --cpbaricon-length: calc(25px * var(--usin-scale));

    /* ==== cpbarlabel -> Clip Bar Label ==== */
    --cpbarlabel-height: calc(22px * var(--usin-scale));
    --cpbarlabel-lheight: calc(22px * var(--usin-scale));
    --cpbarlabel-maxwidth: calc(96px * var(--usin-scale));
    --cpbarlabel-fsize: calc(17px * var(--usin-scale));
    --cpbarlabel-fweight: 350;

    /* ==== cptoggleicon -> Clip Toggle Icon ==== */
    --cptoggleicon-length: calc(15px * var(--usin-scale));

    /* ==== gstgroupctr -> General Setting Group Container ==== */
    --gstgroupctr-cgap: calc(30px * var(--usin-scale));

    /* ==== gstctr -> General Setting Container ==== */
    --gstctr-bwidth: calc(1.5px * var(--usin-scale));
    --gstctr-bradius: calc(10px * var(--usin-scale));
    --gstctr-rgap: calc(5px * var(--usin-scale));
    --gstctr-vpadding: calc(8.5px * var(--usin-scale));
    --gstctr-hpadding: calc(23.5px * var(--usin-scale));

    /* ==== gstlabel -> General Setting Label ==== */
    --gstlabel-height: calc(22px * var(--usin-scale));
    --gstlabel-lheight: calc(22px * var(--usin-scale));
    --gstlabel-maxwidth: calc(500px * var(--usin-scale));
    --gstlabel-fsize: calc(17px * var(--usin-scale));
    --gstlabel-fweight: 350;

    /* ==== gstpill -> General Setting Pill ==== */
    --gstpill-bradius: calc(10px * var(--usin-scale));

    /* ==== gsticon -> General Setting Icon ==== */
    --gsticon-length: calc(25px * var(--usin-scale));
    --gsticon-margin: calc(5px * var(--usin-scale));

    /* ==== gstfield -> General Setting Field ==== */
    --gstfield-height: calc(35px * var(--usin-scale));
    --gstfield-lheight: calc(35px * var(--usin-scale));
    --gstfield-hpadding: calc(10px * var(--usin-scale));
    --gstfield-width: calc(120px * var(--usin-scale));
    --gstfield-alt-width: calc(500px * var(--usin-scale));
    --gstfield-alt2-width: calc(275px * var(--usin-scale));
    --gstfield-fsize: calc(13px * var(--usin-scale));
    --gstfield-fweight: 400;

    /* ==== gsttoggleswitch -> General Setting Toggle Switch ==== */
    --gsttoggleswitch-width: calc(66px * var(--usin-scale));

    /* ==== gsttogglefield -> General Setting Toggle Field ==== */
    --gsttogglefield-hpadding: calc(10px * var(--usin-scale));
    --gsttogglefield-width: calc(110px * var(--usin-scale));

    /* ==== gsttoggleicon -> General Setting Toggle Icon ==== */
    --gsttoggleicon-inset: calc(2px * var(--usin-scale));
    --gsttoggleicon-bradius: calc(7.5px * var(--usin-scale));
    --gsttoggleicon-height: calc(31px * var(--usin-scale));
    --gsttoggleicon-width: calc(31px * var(--usin-scale));
    --gsttoggleicon-translateX: calc(31px * var(--usin-scale));

    /* ==== prboard -> Programs Board ==== */
    --prboard-gap: calc(5px * var(--usin-scale));
    --prboard-padding: calc(5px * var(--usin-scale));
    --prboard-width: calc(400px * var(--usin-scale));

    /* ==== gsttile -> General Setting Tile ==== */
    --gsttile-bradius: calc(8px * var(--usin-scale));
    --gsttile-vpadding: calc(5px * var(--usin-scale));
    --gsttile-rpadding: calc(10px * var(--usin-scale));
    --gsttile-lpadding: calc(5px * var(--usin-scale));

    /* ==== gstdeleteicon -> General Setting Delete Icon ==== */
    --gstdeleteicon-length: calc(20px * var(--usin-scale));

    /* ==== gstprogramicon -> General Setting Program Icon ==== */
    --gstprogramicon-length: calc(30px * var(--usin-scale));
    --gstprogramicon-rmargin: calc(5px * var(--usin-scale));
    --gstprogramicon-lmargin: calc(10px * var(--usin-scale));

    /* ==== gstprogramlabel -> General Setting Program Label ==== */
    --gstprogramlabel-height: calc(20px * var(--usin-scale));
    --gstprogramlabel-lheight: calc(20px * var(--usin-scale));
    --gstprogramlabel-maxwidth: calc(310px * var(--usin-scale));
    --gstprogramlabel-fsize: calc(15px * var(--usin-scale));
    --gstprogramlabel-fweight: 400;

    /* ==== praddbtn -> Programs Add Button ==== */
    --praddbtn-bradius: calc(8px * var(--usin-scale));
    --praddbtn-vpadding: calc(10px * var(--usin-scale));
    --praddbtn-hpadding: calc(40px * var(--usin-scale));

    /* ==== praddicon -> Programs Add Icon ==== */
    --praddicon-length: calc(20px * var(--usin-scale));

    /* ==== gstsliderctr -> General Setting Slider Container ==== */
    --gstsliderctr-hmargin: calc(11.5px * var(--usin-scale));

    /* ==== gstslider -> General Setting Slider ==== */
    --gstslider-height: calc(4px * var(--usin-scale));
    --gstslider-vpadding: calc(15.5px * var(--usin-scale));
    --gstslider-width: calc(107px * var(--usin-scale));

    /* ==== gsttrack -> General Setting Track ==== */
    --gsttrack-bradius: calc(2px * var(--usin-scale));

    /* ==== gstthumb -> General Setting Thumb ==== */
    --gstthumb-tinset: calc(-6px * var(--usin-scale));
    --gstthumb-linset: calc(-2px * var(--usin-scale));
    --gstthumb-bradius: calc(2px * var(--usin-scale));
    --gstthumb-height: calc(16px * var(--usin-scale));
    --gstthumb-width: calc(4px * var(--usin-scale));

    /* ==== gstdesc -> General Setting Description ==== */
    --gstdesc-height: calc(14px * var(--usin-scale));
    --gstdesc-lheight: calc(14px * var(--usin-scale));
    --gstdesc-maxwidth: calc(500px * var(--usin-scale));
    --gstdesc-fsize: calc(11px * var(--usin-scale));
    --gstdesc-fweight: 300;
}