#block-nav {
    border-radius: 0 var(--nblock-bradius) 0 0;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--nblock-bgcolor);
    overflow: hidden;
}

#bar-nav {
    position: relative;

    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: var(--nbar-vgap);
    padding-top: var(--nbar-tpadding);
    padding-right: var(--nbar-hpadding);
    padding-bottom: var(--nbar-bpadding);
    padding-left: var(--nbar-hpadding);
    width: var(--nbar-width);

    transition: var(--nbar-transition);
}

#bar-nav.active {
    width: var(--nbar-active-width);

    transition: var(--nbar-active-transition);
}

#display-logo {
    align-items: center;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--ldp-hgap);
}

#display-logo > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--ldp-svg-length);
    width: var(--ldp-svg-length);

    fill: var(--ldp-svg-fill);
}

#display-logo > h1 {
    flex: 0 0 auto;
    width: var(--ldp-h1-width);
    text-align: center;

    color: var(--ldp-h1-color);
    font-size: var(--ldp-h1-fsize);
    font-weight: var(--ldp-h1-fweight);
    opacity: 0;

    transition: var(--ldp-h1-transition);
}

#bar-nav.active > #display-logo > h1 {
    opacity: 1;

    transition: var(--ldp-h1-active-transition);
}

#bar-nav > hr {
    flex: 0 0 auto;
    height: var(--nbar-hr-height);
    margin-left: var(--nbar-hr-lmargin);
    width: var(--nbar-hr-width);

    background-color: var(--nbar-hr-bgcolor);
}

.nav-btn {
    align-items: center;
    border-radius: var(--nbtn-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--nbtn-hgap);
    margin-right: var(--nbtn-hmargin);
    margin-left: var(--nbtn-hmargin);
    padding: var(--nbtn-padding);

    transition: var(--nbtn-transition);
}

#btn-record {
    z-index: 2;

    border: var(--rbtn-bwidth) solid var(--rbtn-bcolor);
    margin-top: auto;
    padding: var(--rbtn-padding);

    background-color: var(--rbtn-bgcolor);
}

#btn-record:hover {
    background-color: var(--rbtn-hover-bgcolor);
}

#btn-record.active {
    border-color: transparent;
    background-color: var(--rbtn-active-bgcolor);
}

#btn-record.active > svg {
    fill: var(--rbtn-svg-active-fill);
}

#btn-record.active > span {
    color: var(--rbtn-svg-active-color);
}

.nav-btn:hover {
    background-color: var(--nbtn-hover-bgcolor);
}

.nav-btn > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--nbtn-svg-length);
    width: var(--nbtn-svg-length);

    fill: var(--nbtn-svg-fill);
}

.nav-btn > span {
    flex: 0 0 fit-content;

    color: var(--nbtn-span-color);
    font-size: var(--nbtn-span-fsize);
    font-weight: var(--nbtn-span-fweight);
    opacity: 0;

    transition: var(--nbtn-span-transition);
}

#bar-nav.active > .nav-btn > span {
    opacity: 1;

    transition: var(--nbtn-span-active-transition);
}

#ctr-recording {
    right: var(--rctr-rinset);
    bottom: var(--rctr-binset);
    left: var(--rctr-linset);
    position: absolute;
    z-index: 1;

    align-items: center;
    border: var(--rctr-bwidth) solid var(--rctr-bcolor);
    border-radius: var(--rctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--rctr-gap);
    padding-top: var(--rctr-tpadding);
    padding-right: var(--rctr-rpadding);
    padding-left: var(--rctr-lpadding);
    padding-bottom: var(--rctr-bpadding);

    background-color: var(--rctr-bgcolor);

    transition: var(--rctr-transition);    
}

#ctr-recording.active {
    bottom: var(--rctr-active-binset);
}

#label-current-recording-time {
    flex: 0 0 auto;
    width: var(--crtlabel-width);
    text-align: center;
    
    color: var(--crtlabel-color);
    font-size: var(--crtlabel-fsize);
    font-weight: var(--crtlabel-fweight);
}

#label-current-recording-game {
    flex: 0 0 fit-content;
    margin: auto;

    color: var(--rglabel-color);
    font-size: var(--rglabel-fsize);
    font-weight: var(--rglabel-fweight);
    opacity: 0;
    
    transition: var(--rglabel-transition);
}

#bar-nav.active > #ctr-recording > #label-current-recording-game {
    opacity: 1;

    transition: var(--rglabel-active-transition);
}

#label-resume-auto-record {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: var(--rarlabel-height);
    justify-content: center;
    margin-right: var(--rarlabel-hmargin);
    margin-left: var(--rarlabel-hmargin);

    color: var(--rarlabel-color);
    font-size: var(--rarlabel-fsize);
    font-weight: var(--rarlabel-fweight);
    opacity: 0;
    text-align: center;

    pointer-events: none;
    transition: var(--rarlabel-transition);
}

#label-resume-auto-record:hover {
    color: var(--rarlabel-hover-color);
}

#label-resume-auto-record.active {
    opacity: 1;

    pointer-events: all;
}

#btn-nav-toggle {
    align-items: center;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--ntbtn-transition);
}

#btn-nav-toggle:hover {
    background-color: var(--ntbtn-hover-bgcolor);
}

#btn-nav-toggle > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--ntbtn-svg-length);
    width: var(--ntbtn-svg-length);

    fill: var(--ntbtn-svg-fill);
}