#block-nav {
    border-top-right-radius: var(--nblock-trbradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--nblock-bgcolor);
    overflow: hidden;
}

#bar-nav {
    position: relative;

    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: var(--nbar-vgap);
    padding: var(--nbar-tpadding) var(--nbar-hpadding) var(--nbar-bpadding);
    width: var(--nbar-width);

    transition: var(--nbar-transition);
}

#bar-nav.active {
    width: var(--nbar-alt-width);

    transition: var(--nbar-alt-transition);
}

#display-logo {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--ldisplay-hgap);
}

#display-logo > svg {
    display: block;
    flex: 0 0 auto;
    height: var(--ldisplay-svg-length);
    width: var(--ldisplay-svg-length);

    fill: var(--ldisplay-svg-fill);
}

#display-logo > h1 {
    flex: 0 0 auto;
    width: var(--ldisplay-h1-width);

    color: var(--ldisplay-h1-color);
    font-size: var(--ldisplay-h1-fsize);
    font-weight: var(--ldisplay-h1-fweight);
    opacity: 0;
    text-align: center;
    transition: var(--ldisplay-h1-transition);
}

#bar-nav.active > #display-logo > h1 {
    opacity: 1;
    transition: var(--ldisplay-h1-alt-transition);
}

#bar-nav > hr {
    flex: 0 0 auto;
    height: var(--nbar-hr-height);
    margin-left: var(--nbar-hr-lmargin);
    width: var(--nbar-hr-width);

    background-color: var(--nbar-hr-bgcolor);
}

.nav-btn {
    align-items: center;

    border-radius: var(--nbtn-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--nbtn-hgap);
    margin-right: var(--nbtn-hmargin);
    margin-left: var(--nbtn-hmargin);
    padding: var(--nbtn-padding);

    transition: var(--nbtn-transition);
}

.nav-btn:hover {
    background-color: var(--nbtn-bgcolor);
}

#btn-record {
    z-index: 2;

    border: var(--rbtn-bwidth) solid var(--rbtn-bcolor);
    margin-top: auto;
    padding: var(--rbtn-padding);

    background-color: var(--rbtn-bgcolor);
}

#btn-record:hover {
    background-color: var(--rbtn-alt-bgcolor);
}

#btn-record.active {
    border-color: transparent;
    background-color: var(--rbtn-alt2-bgcolor);
}

#btn-record.active:hover {
    background-color: var(--rbtn-alt3-bgcolor);
}

.nav-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--nicon-length);
    width: var(--nicon-length);

    fill: var(--nicon-fill);
}

#btn-record.active > #icon-record {
    fill: var(--ricon-fill);
}

.nav-label {
    flex: 0 0 fit-content;

    color: var(--nlabel-color);
    font-size: var(--nlabel-fsize);
    font-weight: var(--nlabel-fweight);
    opacity: 0;
    transition: var(--nlabel-transition);
}

#bar-nav.active > .nav-btn > .nav-label {
    opacity: 1;
    transition: var(--nlabel-alt-transition);
}

#btn-record.active > .nav-label {
    color: var(--rbtn-span-color);
}

#label-ctr-current-recording {
    align-items: center;
    right: var(--crlabelctr-rinset);
    bottom: var(--crlabelctr-binset);
    left: var(--crlabelctr-linset);
    position: absolute;
    z-index: 1;

    border: var(--crlabelctr-bwidth) solid var(--crlabelctr-bcolor);
    border-radius: var(--crlabelctr-bradius);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--crlabelctr-hgap);
    padding: var(--crlabelctr-tpadding) var(--crlabelctr-tpadding) var(--crlabelctr-bpadding);

    background-color: var(--crlabelctr-bgcolor);
    transition: var(--crlabelctr-transition);    
}

#label-ctr-current-recording.active {
    bottom: var(--crlabelctr-alt-binset);
}

#time-label-current-recording {
    flex: 0 0 auto;
    width: var(--crtimelabel-width);
    
    color: var(--crtimelabel-color);
    font-size: var(--crtimelabel-fsize);
    font-weight: var(--crtimelabel-fweight);
    text-align: center;
}

#game-label-current-recording {
    flex: 0 0 fit-content;
    margin: auto;

    color: var(--crgamelabel-color);
    font-size: var(--crgamelabel-fsize);
    font-weight: var(--crgamelabel-fweight);
    opacity: 0;
    transition: var(--crgamelabel-transition);
}

#bar-nav.active > #label-ctr-current-recording > #game-label-current-recording {
    opacity: 1;
    transition: var(--crgamelabel-alt-transition);
}

#resume-label-auto-record {
    align-items: center;
    justify-content: center;

    display: flex;
    flex-flow: row nowrap;
    height: var(--arreslabel-height);
    margin-right: var(--arreslabel-hmargin);
    margin-left: var(--arreslabel-hmargin);

    color: var(--arreslabel-color);
    font-size: var(--arreslabel-fsize);
    font-weight: var(--arreslabel-fweight);
    opacity: 0;
    text-align: center;
    transition: var(--arreslabel-transition);

    pointer-events: none;
}

#resume-label-auto-record:hover {
    color: var(--arreslabel-alt-color);
}

#resume-label-auto-record.active {
    opacity: 1;

    pointer-events: all;
}

#btn-nav-toggle {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    transition: var(--ntbtn-transition);
}

#btn-nav-toggle:hover {
    background-color: var(--ntbtn-bgcolor);
}

#icon-nav-toggle {
    display: block;
    flex: 0 0 auto;
    height: var(--nticon-length);
    width: var(--nticon-length);

    fill: var(--nticon-fill);
}