.general-setting-group-ctr {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--gstgroupctr-hgap);
}

.general-setting-ctr {
    align-items: start;
    align-self: start;

    border: var(--gstctr-bwidth) solid transparent;
    border-radius: var(--gstctr-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: column nowrap;
    gap: var(--gstctr-vgap);
    padding: var(--gstctr-vpadding) var(--gstctr-hpadding);

    transition: var(--gstctr-transition);
}

.general-setting-ctr:hover {
    border-color: var(--gstctr-bcolor);
    background-color: var(--gstctr-bgcolor);
}

.general-setting-label {
    flex: 0 0 fit-content;

    color: var(--gstlabel-color);
    font-size: var(--gstlabel-fsize);
    font-weight: var(--gstlabel-fweight);
}

.general-setting-pill {
    border-radius: var(--gstpill-bradius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--gstpill-bgcolor);
}

.general-setting-icon {
    display: block;
    flex: 0 0 auto;
    height: var(--gsticon-length);
    margin: var(--gsticon-margin);
    width: var(--gsticon-length);

    fill: var(--gsticon-fill);
}

.general-setting-field {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    flex: 0 0 auto;
    padding-right: var(--gstfield-hpadding);
    padding-left: var(--gstfield-hpadding);
    width: var(--gstfield-width);

    background-color: var(--gstfield-bgcolor);
    box-sizing: content-box;
    color: var(--gstfield-color);
}

.general-setting-field[name="capturesPath"], .general-setting-field[name="clipsPath"] {
    width: var(--gstfield-alt-width);
}

.general-setting-toggle-switch {
    position: relative;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    flex: 0 0 auto;
    width: var(--gsttswitch-width);

    background-color: var(--gsttswitch-bgcolor);
    transition: var(--gsttswitch-transition);

    cursor: pointer;
}

.general-setting-toggle-switch:has(.general-setting-toggle-field:checked) {
    background-color: var(--gsttswitch-alt-bgcolor);
}

.general-setting-toggle-field {
    padding-right: var(--gsttfield-hpadding);
    padding-left: var(--gsttfield-hpadding);
    width: var(--gsttfield-width);

    background-color: var(--gsttfield-bgcolor);
    box-sizing: content-box;
    color: var(--gsttfield-color);
    visibility: hidden;
}

.general-setting-toggle-icon {
    position: absolute;
    inset: var(--gstticon-inset);

    border-radius: var(--gstticon-bradius);
    height: var(--gstticon-height);
    width: var(--gstticon-width);

    background-color: var(--gstticon-bgcolor);
    fill: var(--gstticon-fill);
    transition: var(--gstticon-transition);
}

.general-setting-toggle-field:checked + .general-setting-toggle-icon {
    fill: var(--gstticon-alt-fill);
    transform: translateX(var(--gstticon-translateX));
}

.general-setting-slider-ctr {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    flex: 0 0 fit-content;
    padding-right: var(--gstsliderctr-hmargin);
    padding-left: var(--gstsliderctr-hmargin);

    background-color: var(--gstsliderctr-bgcolor); 
}

.general-setting-slider {
    height: var(--gstslider-height);
    padding-top: var(--gstslider-vpadding);
    padding-bottom: var(--gstslider-vpadding);
    width: var(--gstslider-width);

    box-sizing: content-box;
}

.general-setting-track {
    position: relative;

    border-radius: var(--gsttrack-bradius);
    height: 100%;

    background-color: var(--gsttrack-bgcolor);
}

.general-setting-overlay {
    position: absolute;

    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.general-setting-thumb {
    position: absolute;
    top: var(--gstthumb-tinset);
    left: var(--gstthumb-linset);

    border-radius: var(--gstthumb-bradius);
    height: var(--gstthumb-height);
    width: var(--gstthumb-width);

    background-color: var(--gstthumb-bgcolor);
}

.general-setting-description {
    flex: 0 0 fit-content;

    color: var(--gstdesc-color);
    font-size: var(--gstdesc-fsize);
    font-weight: var(--gstdesc-fweight);
}