@font-face {
    font-family: "Lexend";
    src: url("../../assets/font/Lexend/Lexend-VariableFont_wght.ttf");
}

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    --blue-300: #00a9ff;

    --green-500: #2da347;

    --red-500: #dd3a3a;
}

html {
    --gray-100: #5a5a5a;
    --gray-200: #575757;
    --gray-500: #505050;
    --gray-600: #3c3c3c;
    --gray-700: #3a3a3a;
    --gray-800: #373737;
    --gray-tp1: rgba(137, 137, 137, 0.4);
    --gray-tp2: rgba(114, 114, 114, 0.5);

    --gray-blue-300: #5f646a;
    --gray-blue-400: #4a4c51;
    --gray-blue-500: #414344;

    --black-900-t75: rgba(0, 0, 0, 0.75);

    --white-100: #dddddd;
    --white-200: #cccccc;
    --white-400: #b3b3b3;
    --white-500: #8e8e8e;
}

html[data-theme='dark'] {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-thumb-bgcolor: var(--white-100);

    /* ==== body -> Body ==== */
    --body-bgcolor: var(--gray-blue-300);

    /* ==== tbtn -> Title Button ==== */
    --tbtn-hover-bgcolor: var(--gray-700);

    --tbtn-svg-fill: var(--white-200);

    /* ==== vlabel -> Version Label ==== */
    --vlabel-color: var(--white-100);

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: var(--gray-800);

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-hr-bgcolor: #a4a4a4;

    /* ==== ldp -> Logo Display ==== */
    --ldp-svg-fill: var(--white-100);

    --ldp-h1-color: var(--white-100);

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-hover-bgcolor: var(--gray-200);

    --nbtn-span-color: var(--white-100);

    --nbtn-svg-fill: var(--white-100);

    /* ==== nt -> Nav(igation) Toggle ==== */
    --ntbtn-hover-bgcolor: var(--gray-500);

    --ntbtn-svg-fill: var(--white-100);

    /* ==== cb -> Content Block ==== */
    --cblock-bgcolor: var(--gray-blue-400);

    /* ==== ctr1 -> Container 1 ==== */
    --cctr1-h2-color: var(--white-100);

    --cctr1-hr-bgcolor: #a4a4a4;

    /* ==== ctr2 -> Container 2 ==== */
    --cctr2-bgcolor: var(--gray-blue-500);

    /* ==== ctr3 -> Container 3 ==== */
    --cctr3-h3-color: #c9c9c9;

    --cctr3-hr-bgcolor: #747474;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bgcolor: var(--gray-800);
    --dctr-ocolor: transparent;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-hover-bgcolor: var(--gray-500);
    
    --dbtn-svg-fill: var(--white-100);

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-hover-bgcolor: var(--gray-500);

    --vpctr-h4-color: var(--white-100);

    --vpctr-p-color: var(--white-100);

    /* ==== vrbtn -> Video Rename Button ==== */
    --vrbtn-hover-bgcolor: var(--red-500);

    /* ==== vdbtn -> Video Delete Button ==== */
    --vdbtn-hover-bgcolor: var(--red-500);

    /* ==== vobtn -> Video Options Button ==== */
    --vobtn-svg-fill: var(--white-100);
    --vobtn-hover-svg-fill: white;

    /* ==== psl -> Playback Slider ==== */
    --psl-thumb-bshadowcolor: var(--blue-300);
    --psl-track-bgcolor: var(--gray-tp1);

    /* ==== pbar -> Playback Bar ==== */
    --pbar-lgradientcolor: var(--black-900-t75);

    /* ==== pbtn -> Playback Button ==== */
    --pbtn-svg-fill: var(--white-100);

    /* ==== slabel -> Speed Label ==== */
    --slabel-color: var(--white-100);

    /* ==== pinput -> Playback Input ==== */
    --pinput-thumb-bgcolor: var(--blue-300);

    /* ==== vsl -> Volume Slider ==== */
    --vsl-thumb-bshadowcolor: var(--blue-300);
    --vsl-track-bgcolor: var(--white-100);

    /* ==== tlabel -> Time Label ==== */
    --tlabel-color: var(--white-100);

    /* ==== tctr -> Timeline Container ==== */
    --tctr-bgcolor: var(--gray-800);

    /* ==== tmarker -> Timeline Marker ==== */
    --tmarker-fill: var(--white-500);
    --tmarker-stroke: var(--white-500);

    --tmarker-text-fill: var(--white-100);
    --tmarker-text-stroke: var(--white-100);

    /* ==== tls -> Timeline Slider ==== */
    --tslider-thumb-bgcolor: var(--white-100);

    /* ==== sctr -> Setting Container ==== */
    --sctr-hover-bgcolor: var(--gray-600);
    --sctr-hover-ocolor: transparent;

    --sctr-h4-color: #dddddd;

    --sctr-p-color: #dddddd;

    /* ==== spill -> Setting Pill ==== */
    --spill-bgcolor: var(--gray-800);

    --spill-inputselect-bgcolor: var(--gray-100);
    --spill-inputselect-color: var(--white-100);

    --spill-svg-fill: var(--white-100);
    --spill-svg-active-fill: var(--green-500);

    /* ==== stswitch -> Setting Toggle Switch ==== */
    --stswitch-bgcolor: var(--gray-100);
    --stswitch-active-bgcolor: var(--green-500);

    --stswitch-svg-bgcolor: white;
    --stswitch-svg-fill: var(--gray-100);
}


html[data-theme='light'] {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-thumb-bgcolor: #cccccc;

    /* ==== body -> Body ==== */
    --body-bgcolor: white;

    /* ==== tbtn -> Title Button ==== */
    --tbtn-hover-bgcolor: #c3c3c3;

    --tbtn-svg-fill: #363636;

    /* ==== vlabel -> Version Label ==== */
    --vlabel-color: #363636;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: #f2f2f2;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-hr-bgcolor: #d0d0d0;

    /* ==== ldp -> Logo Display ==== */
    --ldp-svg-fill: #363636;

    --ldp-h1-color: #363636;

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-hover-bgcolor: #dbdbdb;

    --nbtn-span-color: #363636;

    --nbtn-svg-fill: #363636;

    /* ==== nt -> Nav(igation) Toggle ==== */
    --ntbtn-hover-bgcolor: #dfe1e5;

    --ntbtn-svg-fill: #1a69e0;

    /* ==== cb -> Content Block ==== */
    --cblock-bgcolor: #f2f2f2;

    /* ==== ctr1 -> Container 1 ==== */
    --cctr1-h2-color: #363636;

    --cctr1-hr-bgcolor: #d0d0d0;

    /* ==== ctr2 -> Container 2 ==== */
    --cctr2-bgcolor: transparent;

    /* ==== ctr3 -> Container 3 ==== */
    --cctr3-h3-color: #808080;

    /* --cctr3-hr-bgcolor: #d0d0d0; */
    --cctr3-hr-bgcolor: transparent;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bgcolor: transparent;
    --dctr-ocolor: #dfe1e5;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-hover-bgcolor: #dfe1e5;

    --dbtn-svg-fill: #1a69e0;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-hover-bgcolor: #dfe1e5;

    --vpctr-h4-color: #1a69e0;

    --vpctr-p-color: #363636;

    /* ==== vrbtn -> Video Rename Button ==== */
    --vrbtn-hover-bgcolor: var(--red-500);

    /* ==== vdbtn -> Video Delete Button ==== */
    --vdbtn-hover-bgcolor: var(--red-500);

    /* ==== vobtn -> Video Options Button ==== */
    --vobtn-svg-fill: #363636;
    --vobtn-hover-svg-fill: white;

    /* ==== psl -> Playback Slider ==== */
    --psl-thumb-bshadowcolor: var(--blue-300);
    --psl-track-bgcolor: var(--gray-tp1);

    /* ==== pbar -> Playback Bar ==== */
    --pbar-lgradientcolor: var(--black-900-t75);

    /* ==== pbtn -> Playback Button ==== */
    --pbtn-svg-fill: var(--white-100);

    /* ==== slabel -> Speed Label ==== */
    --slabel-color: var(--white-100);

    /* ==== pinput -> Playback Input ==== */
    --pinput-thumb-bgcolor: var(--blue-300);

    /* ==== vsl -> Volume Slider ==== */
    --vsl-thumb-bshadowcolor: var(--blue-300);
    --vsl-track-bgcolor: var(--white-100);

    /* ==== tlabel -> Time Label ==== */
    --tlabel-color: var(--white-100);

    /* ==== tctr -> Timeline Container ==== */
    --tctr-bgcolor: #dfe1e5;

    /* ==== tmarker -> Timeline Marker ==== */
    --tmarker-fill: #797b7e;
    --tmarker-stroke: #797b7e;

    --tmarker-text-fill: #363636;
    --tmarker-text-stroke: #363636;

    /* ==== tls -> Timeline Slider ==== */
    --tslider-thumb-bgcolor: #1a69e0;

    /* ==== sctr -> Setting Container ==== */
    --sctr-hover-bgcolor: transparent;
    --sctr-hover-ocolor: #d2dade;

    --sctr-h4-color: #1a69e0;

    --sctr-p-color: #363636;

    /* ==== spill -> Setting Pill ==== */
    --spill-bgcolor: #c4c7cc;

    --spill-inputselect-bgcolor: #dfe1e5;
    --spill-inputselect-color: #363636;

    --spill-svg-fill: #363636;
    --spill-svg-active-fill: var(--green-500);

    /* ==== stswitch -> Setting Toggle Switch ==== */
    --stswitch-bgcolor: #dfe1e5;
    --stswitch-active-bgcolor: var(--green-500);

    --stswitch-svg-bgcolor: white;
    --stswitch-svg-fill: #acb5c4;
}

html {
    /* --sbar-thumb-transition: background-color 10s ease 0s; */

    --pctr-transition: opacity 0.2s ease 0s;

    --pslider-thumb-transition: height 0.2s ease 0s;

    --pbtn-transition: background-color 0.3s ease 0s;
    --pbtn-svg-transition: fill 0.3s ease 0s;

    --vsl-transition: width 0.1s ease 0s;
    --ssl-transition: width 0.1s ease 0s;

    --nbtn-transition: background-color 0.3s ease 0s;

    --ntbtn-transition: background-color 0.3s ease 0s;

    --sctr-transition: background-color 0.3s ease 0s, outline-color 0.3s ease 0s;

    --stswitch-transition: background-color 0.3s ease 0s;
    --stswitch-svg-transition: transform 0.3s ease 0s;

    --vpctr-transition: background-color 0.2s ease 0s;
    --vobtn-transition: background-color 0.2s ease 0s;
    --vobtn-svg-transition: fill 0.2s ease 0s;

    --dbtn-transition: background-color 0.3s ease 0s;
}