@font-face {
    font-family: "Lexend";
    src: url("../../assets/font/Lexend/Lexend-VariableFont_wght.ttf");
}

/* @font-face {
    font-family: "Azaret Mono";
    src: url("../../assets/font/Azeret_Mono/AzeretMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Azaret Mono Italic";
    src: url("../../assets/font/Azeret_Mono/AzeretMono-Italic-VariableFont_wght.ttf");
} */

* {
    font-family: "Lexend", sans-serif;
    /* font-optical-sizing: auto; */
}

/* Color Variables */
html {
    /* color variables */
}

/* Shared Variables */
html {
    /* ==== tclbarbtn -> Title Close Bar Button ==== */
    --tclbarbtn-bgcolor: #ff0000;

    /* ==== rprimarybarpath -> Record Primary Bar Path ==== */
    --rprimarybarpath-fill: #ff0000;
    --rprimarybarpath-alt-fill: #ff0000;

    /* ==== rsecondarybarpath -> Record Secondary Bar Path ==== */
    --rsecondarybarpath-fill: #dddddd;
    --rsecondarybarpath-alt-fill: #ff0000;

    /* ==== rtertiarybarpath -> Record Tertiary Bar Path ==== */
    --rtertiarybarpath-fill: #ff0000;
    --rtertiarybarpath-alt-fill: #ffffff;

    /* ==== curtimelabel -> Current Recording Time Label ==== */
    --curtimelabel-color: #14dd40;

    /* ==== vtnimage -> Video Thumbnail Image ==== */
    --vtnimage-bgcolor: #000000;

    /* ==== vtndurlabel -> Video Thumbnail Duration Label ==== */
    --vtndurlabel-bgcolor: rgba(0, 0, 0, 0.84);
    --vtndurlabel-color: #dddddd;
    --vtndurlabel-alt-color: #ffffff;

    /* ==== vprenamebtn -> Video Preview Rename Button ==== */
    --vprenamebtn-bgcolor: #f2a72f;

    /* ==== vpdeletebtn -> Video Preview Delete Button ==== */
    --vpdeletebtn-bgcolor: #ea2d2d;

    /* ==== vctr -> Video Container ==== */
    --vctr-bgcolor: #000000;

    /* ==== plpastatusicon -> Play Pause Status Icon ==== */
    --plpastatusicon-fill: rgba(255, 255, 255, 0.7);

    /* ==== strack -> Seek Track ==== */
    --strack-bgcolor: rgba(137, 137, 137, 0.4);
    --strack-lgradientcolor: rgba(220, 220, 220, 0.4);

    /* ==== soverlay -> Seek Overlay ==== */
    --soverlay-lgradientcolor: #00a9ff;

    /* ==== mbar -> Media Bar ==== */
    --mbar-lgradientcolor: rgba(0, 0, 0, 0.75);

    /* ==== mbaricon -> Media Bar Icon ==== */
    --mbaricon-fill: #dddddd;
    --mbaricon-alt-fill: #ffffff;

    /* ==== vobaricon -> Volume Bar Icon ==== */
    --vobaricon-fill: #ffffff;

    /* ==== pbrtlabel -> Playback Rate Label ==== */
    --pbrtlabel-color: #dddddd;
    --pbrtlabel-alt-color: #ffffff;

    /* ==== mtrack-> Media Track ==== */
    --mtrack-bgcolor: #dddddd;
    --mtrack-alt-bgcolor: #ffffff;

    /* ==== vooverlay -> Volume Overlay ==== */
    --vooverlay-lgradientcolor: #00a9ff;

    /* ==== mthumb -> Media Thumb ==== */
    --mthumb-bgcolor: #00a9ff;

    /* ==== cuvlabel -> Current Video Label ==== */
    --cuvlabel-color: #dddddd;

    /* ==== cppath -> Clip Path ==== */
    --cppath-fill: #b575e9;
    --cppath-stroke: #b575e9;

    /* ==== gsttoggleswitch -> General Setting Toggle Switch ==== */
    --gsttoggleswitch-alt-bgcolor: #2da347;

    /* ==== gsttoggleicon -> General Setting Toggle Icon ==== */
    --gsttoggleicon-alt-fill: #2da347;
    --gsttoggleicon-bgcolor: #dddddd;
    --gsttoggleicon-alt-bgcolor: #ffffff;

    /* ==== gstoverlay -> General Setting Overlay ==== */
    --gstoverlay-lgradientcolor: #00a9ff;

    /* ==== gstthumb -> General Setting Thumb ==== */
    --gstthumb-bgcolor: #00a9ff;
}

/* Dark Mode Variables */
html[data-theme="dark"] {
    /* ==== scbar -> Scroll Bar ==== */
    --scbar-thumb-bgcolor: #dddddd;
    --scbar-thumb-alt-bgcolor: #ffffff;

    /* ==== body -> Body ==== */
    --body-bgcolor: #5f646a;

    /* ==== ioverlay -> Initialization Overlay ==== */
    --ioverlay-bgcolor: #5f646a;

    /* ==== iicon -> Initialization Icon ==== */
    --iicon-fill: #dddddd;

    /* ==== inamelabel -> Initialization Name Label ==== */
    --inamelabel-color: #dddddd;
    
    /* ==== istatuslabel -> Initialization Status Label ==== */
    --istatuslabel-color: #dddddd;

    /* ==== cblock -> Content Block ==== */
    --cblock-bgcolor: #4a4c51;

    /* ==== cstatuslabel -> Content Status Label ==== */
    --cstatuslabel-bgcolor: #373737;
    --cstatuslabel-color: #dddddd;

    /* ==== clabel1 -> Content Label 1 ==== */
    --clabel1-color: #dddddd;

    /* ==== cdivider1 -> Content Divider 1 ==== */
    --cdivider1-bgcolor: #a4a4a4;

    /* ==== cctr1 -> Content Container 1 ==== */
    --cctr1-bgcolor: #414344;

    /* ==== clabel2 -> Content Label 2 ==== */
    --clabel2-color: #c9c9c9;

    /* ==== cdivider2 -> Content Divider 2 ==== */
    --cdivider2-bgcolor: #747474;

    /* ==== tversionlabel -> Title Version Label ==== */
    --tversionlabel-color: #dddddd;

    /* ==== tbarbtn -> Title Bar Button ==== */
    --tbarbtn-bgcolor: #3a3a3a;

    /* ==== tbaricon -> Title Bar Icon ==== */
    --tbaricon-fill: #cccccc;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: #373737;

    /* ==== bicon -> Brand Icon ==== */
    --bicon-fill: #dddddd;

    /* ==== bnamelabel -> Brand Name Label ==== */
    --bnamelabel-color: #dddddd;

    /* ==== ndivider -> Nav(igation) Divider ==== */
    --ndivider-bgcolor: #a4a4a4;

    /* ==== nbarbtn -> Nav(igation) Bar Button ==== */
    --nbarbtn-bgcolor: #575757;
    --nbarbtn-alt-bgcolor: #4b4b4b;
    --nbarbtn-alt2-bgcolor: #575757;

    /* ==== rbarbtn -> Record Bar Button ==== */
    --rbarbtn-bcolor: #575757;
    --rbarbtn-bgcolor: #373737;
    --rbarbtn-alt-bgcolor: #575757;
    --rbarbtn-alt2-bgcolor: #dddddd;
    --rbarbtn-alt3-bgcolor: #ffffff;

    /* ==== nprimarybarpath -> Nav(igation) Primary Bar Path ==== */
    --nprimarybarpath-fill: #dddddd;
    --nprimarybarpath-alt-fill: #ffffff;
    --nprimarybarpath-alt2-fill: #dddddd;

    /* ==== nsecondarybarpath -> Nav(igation) Secondary Bar Path ==== */
    --nsecondarybarpath-fill: #373737;
    --nsecondarybarpath-alt-fill: #ffffff;
    --nsecondarybarpath-alt2-fill: #dddddd;

    /* ==== ntertiarybarpath -> Nav(igation) Tertiary Bar Path ==== */
    --ntertiarybarpath-fill: #dddddd;
    --ntertiarybarpath-alt-fill: #575757;
    --ntertiarybarpath-alt2-fill: #4b4b4b;

    /* ==== nbarlabel -> Nav(igation) Bar Label ==== */
    --nbarlabel-color: #dddddd;
    --nbarlabel-alt-color: #ffffff;

    /* ==== rbarlabel -> Record Bar Label ==== */
    --rbarlabel-color: #363636;
    --rbarlabel-alt-color: #000000;

    /* ==== curlabelctr -> Current Recording Label Container ==== */
    --curlabelctr-bcolor: #575757;
    --curlabelctr-bgcolor: #575757;

    /* ==== curgamelabel -> Current Recording Game Label ==== */
    --curgamelabel-color: #dddddd;

    /* ==== arresumelabel -> Auto Record Resume Label ==== */
    --arresumelabel-color: #88959d;
    --arresumelabel-alt-color: #dddddd;

    /* ==== ntogglebtn -> Nav(igation) Toggle Button ==== */
    --ntogglebtn-bgcolor: #505050;

    /* ==== ntoggleicon -> Nav(igation) Toggle Icon ==== */
    --ntoggleicon-fill: #dddddd;
    --ntoggleicon-alt-fill: #ffffff;

    /* ==== dlabel -> Directory Label ==== */
    --dlabel-color: #ffffff;

    /* ==== dlabel2 -> Directory Label 2 ==== */
    --dlabel2-color: #777777;

    /* ==== dlabel3 -> Directory Label 3 ==== */
    --dlabel3-color: #777777;

    /* ==== dbar -> Directory Bar ==== */
    --dbar-bgcolor: #373737;

    /* ==== dstfield -> Directory Setting Field ==== */
    --dstfield-bgcolor: #5a5a5a;
    --dstfield-color: #dddddd;
    --dstfield-alt-color: #ffffff;

    /* ==== dbarbtn -> Directory Bar Button ==== */
    --dbarbtn-bgcolor: #5a5a5a;

    /* ==== dbaricon -> Directory Bar Icon ==== */
    --dbaricon-fill: #dddddd;
    --dbaricon-alt-fill: #ffffff;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bcolor: #414344;
    --dctr-bgcolor: #373737;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-bgcolor: #505050;
    
    /* ==== dicon -> Directory Icon ==== */
    --dicon-fill: #787878;
    --dicon-alt-fill: #dddddd;
    --dicon-alt2-fill: #ffffff;

    /* ==== dstatuslabel -> Directory Status Label ==== */
    --dstatuslabel-color: #787878;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-bgcolor: #505050;

    /* ==== vpgamelabel -> Video Preview Game Label ==== */
    --vpgamelabel-color: #dddddd;
    --vpgamelabel-alt-color: #ffffff;

    /* ==== vpagelabel -> Video Preview Age Label ==== */
    --vpagelabel-color: #dddddd;
    --vpagelabel-alt-color: #ffffff;

    /* ==== vpnamelabel -> Video Preview Name Label ==== */
    --vpnamelabel-color: #dddddd;

    /* ==== vpprimarypath -> Video Preview Primary Path ==== */
    --vpprimarypath-fill: #dddddd;
    --vpprimarypath-alt-fill: #ffffff;

    /* ==== vpsecondarypath -> Video Preview Secondary Path ==== */
    --vpsecondarypath-fill: #373737;
    --vpsecondarypath-alt-fill: #505050;
    --vpsecondarypath-alt2-fill: #ffffff;

    /* ==== vprenamepath -> Video Preview Rename Path ==== */
    --vprenamepath-fill: #dddddd;
    --vprenamepath-alt-fill: #f2a72f;

    /* ==== vpdeletepath -> Video Preview Delete Path ==== */
    --vpdeletepath-fill: #dddddd;
    --vpdeletepath-alt-fill: #ea2d2d;

    /* ==== votrack -> Volume Track ==== */
    --votrack-bgcolor: #ffffff;

    /* ==== pbrttrack -> Playback Rate Track ==== */
    --pbrttrack-bgcolor: #ffffff;

    /* ==== pbrtoverlay -> Playback Rate Overlay ==== */
    --pbrtoverlay-fill: #363636;
    --pbrtoverlay-alt-fill: #000000;
    --pbrtoverlay-stroke: #363636;
    --pbrtoverlay-alt-stroke: #000000;

    /* ==== pbrttext -> Playback Rate Text ==== */
    --pbrttext-fill: #dddddd;
    --pbrttext-alt-fill: #ffffff;
    --pbrttext-stroke: #dddddd;
    --pbrttext-alt-stroke: #ffffff;

    /* ==== tltrack -> Timeline Track ==== */
    --tltrack-bgcolor: #373737;

    /* ==== tloverlay -> Timeline Overlay ==== */
    --tloverlay-fill: #8e8e8e;
    --tloverlay-stroke: #8e8e8e;

    /* ==== tltext -> Timeline Text ==== */
    --tltext-fill: #dddddd;
    --tltext-stroke: #dddddd;

    /* ==== tlthumb -> Timeline Thumb ==== */
    --tlthumb-bgcolor: #dddddd;

    /* ==== cpctr -> Clip Container ==== */
    --cpctr-bcolor: #414344;
    --cpctr-bgcolor: #373737;

    /* ==== cpicon -> Clip Icon ==== */
    --cpicon-fill: #dddddd;

    /* ==== cpstctr -> Clip Setting Container ==== */
    --cpstctr-bcolor: transparent;
    --cpstctr-bgcolor: #3c3c3c;

    /* ==== cpstlabel -> Clip Setting Label ==== */
    --cpstlabel-color: #dddddd;
    --cpstlabel-alt-color: #ffffff;

    /* ==== cpstpill -> Clip Setting Pill ==== */
    --cpstpill-bgcolor: #373737;

    /* ==== cpsticon -> Clip Setting Icon ==== */
    --cpsticon-fill: #dddddd;
    --cpsticon-alt-fill: #ffffff;

    /* ==== cpstfield -> Clip Setting Field ==== */
    --cpstfield-bgcolor: #5a5a5a;
    --cpstfield-color: #dddddd;
    --cpstfield-alt-color: #ffffff;

    /* ==== cpbarbtn -> Clip Bar Button ==== */
    --cpbarbtn-bcolor: #575757;
    --cpbarbtn-bgcolor: #373737;
    --cpbarbtn-alt-bgcolor: #575757;

    /* ==== cpprimarybarpath -> Clip Primary Bar Path ==== */
    --cpprimarybarpath-fill: #dddddd;
    --cpprimarybarpath-alt-fill: #ffffff;

    /* ==== cpsecondarybarpath -> Clip Secondary Bar Path ==== */
    --cpsecondarybarpath-fill: #373737;
    --cpsecondarybarpath-alt-fill: #ffffff;

    /* ==== cptertiarybarpath -> Clip Tertiary Bar Path ==== */
    --cptertiarybarpath-fill: #dddddd;
    --cptertiarybarpath-alt-fill: #575757;

    /* ==== cpbarlabel -> Clip Bar Label ==== */
    --cpbarlabel-color: #dddddd;
    --cpbarlabel-alt-color: #ffffff;

    /* ==== cptogglebtn -> Clip Toggle Button ==== */
    --cptogglebtn-bgcolor: #505050;

    /* ==== cptoggleicon -> Clip Toggle Icon ==== */
    --cptoggleicon-fill: #dddddd;
    --cptoggleicon-alt-fill: #ffffff;

    /* ==== gstctr -> General Setting Container ==== */
    --gstctr-bcolor: transparent;
    --gstctr-bgcolor: #3c3c3c;

    /* ==== gstlabel -> General Setting Label ==== */
    --gstlabel-color: #dddddd;
    --gstlabel-alt-color: #ffffff;

    /* ==== gstpill -> General Setting Pill ==== */
    --gstpill-bgcolor: #373737;

    /* ==== gsticon -> General Setting Icon ==== */
    --gsticon-fill: #dddddd;
    --gsticon-alt-fill: #ffffff;

    /* ==== gstfield -> General Setting Field ==== */
    --gstfield-bgcolor: #5a5a5a;
    --gstfield-color: #dddddd;
    --gstfield-alt-color: #ffffff;

    /* ==== gsttoggleswitch -> General Setting Toggle Switch ==== */
    --gsttoggleswitch-bgcolor: #5a5a5a;

    /* ==== gsttoggleicon -> General Setting Toggle Icon ==== */
    --gsttoggleicon-fill: #5a5a5a;

    /* ==== gstsliderctr -> General Setting Slider Container ==== */
    --gstsliderctr-bgcolor: #5a5a5a;

    /* ==== gsttrack -> General Setting Track ==== */
    --gsttrack-bgcolor: #dddddd;
    --gsttrack-alt-bgcolor: #ffffff;

    /* ==== gstdesc -> General Setting Description ==== */
    --gstdesc-color: #dddddd;
    --gstdesc-alt-color: #ffffff;
}

/* Light Mode Variables */
html[data-theme="light"] {
    /* ==== scbar -> Scroll Bar ==== */
    --scbar-thumb-bgcolor: #cccccc;
    --scbar-thumb-alt-bgcolor: #aaaaaa;

    /* ==== body -> Body ==== */
    --body-bgcolor: white;

    /* ==== ioverlay -> Initialization Overlay ==== */
    --ioverlay-bgcolor: #white;

    /* ==== iicon -> Initialization Icon ==== */
    --iicon-fill: #363636;

    /* ==== inamelabel -> Initialization Name Label ==== */
    --inamelabel-color: #363636;

    /* ==== istatuslabel -> Initialization Status Label ==== */
    --istatuslabel-color: #363636;

    /* ==== cblock -> Content Block ==== */
    --cblock-bgcolor: #f2f2f2;

    /* ==== cstatuslabel -> Content Status Label ==== */
    --cstatuslabel-bgcolor: #f2f2f2;
    --cstatuslabel-color: #363636;

    /* ==== clabel1 -> Content Label 1 ==== */
    --clabel1-color: #363636;

    /* ==== cdivider1 -> Content Divider 1 ==== */
    --cdivider1-bgcolor: #d0d0d0;

    /* ==== cctr1 -> Content Container 1 ==== */
    --cctr1-bgcolor: transparent;

    /* ==== clabel2 -> Content Label 2 ==== */
    --clabel2-color: #808080;

    /* ==== cdivider2 -> Content Divider 2 ==== */
    --cdivider2-bgcolor: transparent;

    /* ==== tversionlabel -> Title Version Label ==== */
    --tversionlabel-color: #363636;

    /* ==== tbarbtn -> Title Bar Button ==== */
    --tbarbtn-bgcolor: #c3c3c3;

    /* ==== tbaricon -> Title Bar Icon ==== */
    --tbaricon-fill: #363636;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: #f2f2f2;

    /* ==== bicon -> Brand Icon ==== */
    --bicon-fill: #363636;

    /* ==== bnamelabel -> Brand Name Label ==== */
    --bnamelabel-color: #363636;

    /* ==== ndivider -> Nav(igation) Divider ==== */
    --ndivider-bgcolor: #d0d0d0;

    /* ==== nbarbtn -> Nav(igation) Bar Button ==== */
    --nbarbtn-bgcolor: #dbdbdb;
    --nbarbtn-alt-bgcolor: #4b4b4b;
    --nbarbtn-alt2-bgcolor: #dbdbdb;

    /* ==== rbarbtn -> Record Bar Button ==== */
    --rbarbtn-bcolor: #dbdbdb;
    --rbarbtn-bgcolor: #f2f2f2;
    --rbarbtn-alt-bgcolor: #dbdbdb;
    --rbarbtn-alt2-bgcolor: #dddddd;
    --rbarbtn-alt3-bgcolor: #ffffff;

    /* ==== nprimarybarpath -> Nav(igation) Primary Bar Path ==== */
    --nprimarybarpath-fill: #dddddd;
    --nprimarybarpath-alt-fill: #ffffff;
    --nprimarybarpath-alt2-fill: #dddddd;

    /* ==== nsecondarybarpath -> Nav(igation) Secondary Bar Path ==== */
    --nsecondarybarpath-fill: #373737;
    --nsecondarybarpath-alt-fill: #ffffff;
    --nsecondarybarpath-alt2-fill: #dddddd;

    /* ==== ntertiarybarpath -> Nav(igation) Tertiary Bar Path ==== */
    --ntertiarybarpath-fill: #dddddd;
    --ntertiarybarpath-alt-fill: #575757;
    --ntertiarybarpath-alt2-fill: #4b4b4b;

    /* ==== nbaricon -> Nav(igation) Bar Icon ==== */
    --nbaricon-fill: #363636;
    --nbaricon-alt-fill: #000000;

    /* ==== nbarlabel -> Nav(igation) Bar Label ==== */
    --nbarlabel-color: #363636;
    --nbarlabel-alt-color: #000000;

    /* ==== rbarlabel -> Record Bar Label ==== */
    --rbarlabel-color: #363636;
    --rbarlabel-alt-color: #000000;

    /* ==== curlabelctr -> Current Recording Label Container ==== */
    --curlabelctr-bcolor: #dbdbdb;
    --curlabelctr-bgcolor: #dbdbdb;

    /* ==== curgamelabel -> Current Recording Game Label ==== */
    --curgamelabel-color: #363636;

    /* ==== arresumelabel -> Auto Record Resume Label ==== */
    --arresumelabel-color: #88959d;
    --arresumelabel-alt-color: #363636;

    /* ==== ntogglebtn -> Nav(igation) Toggle Button ==== */
    --ntogglebtn-bgcolor: #dfe1e5;

    /* ==== ntoggleicon -> Nav(igation) Toggle Icon ==== */
    --ntoggleicon-fill: #1a69e0;
    --ntoggleicon-alt-fill: #0000ff;

    /* ==== dlabel -> Directory Label ==== */
    --dlabel-color: #000000;

    /* ==== dlabel2 -> Directory Label 2 ==== */
    --dlabel2-color: #777777;

    /* ==== dlabel3 -> Directory Label 3 ==== */
    --dlabel3-color: #777777;
    
    /* ==== dbar -> Directory Bar ==== */
    --dbar-bgcolor: #transparent;

    /* ==== dstfield -> Directory Setting Field ==== */
    --dstfield-bgcolor: #dfe1e5;
    --dstfield-color: #363636;
    --dstfield-alt-color: #000000;

    /* ==== dbarbtn -> Directory Bar Button ==== */
    --dbarbtn-bgcolor: #dfe1e5;

    /* ==== dbaricon -> Directory Bar Icon ==== */
    --dbaricon-fill: #363636;
    --dbaricon-alt-fill: #000000;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bcolor: #dfe1e5;
    --dctr-bgcolor: transparent;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-bgcolor: #dfe1e5;

    /* ==== dicon -> Directory Icon ==== */
    --dicon-fill: #787878;
    --dicon-alt-fill: #1a69e0;
    --dicon-alt2-fill: #0000ff;

    /* ==== dstatuslabel -> Directory Status Label ==== */
    --dstatuslabel-color: #787878;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-bgcolor: #dfe1e5;

    /* ==== vpgamelabel -> Video Preview Game Label ==== */
    --vpgamelabel-color: #1a69e0;
    --vpgamelabel-alt-color: #0000ff;

    /* ==== vpagelabel -> Video Preview Age Label ==== */
    --vpagelabel-color: #1a69e0;
    --vpagelabel-alt-color: #0000ff;

    /* ==== vpnamelabel -> Video Preview Name Label ==== */
    --vpnamelabel-color: #363636;

    /* ==== vpprimarypath -> Video Preview Primary Path ==== */
    --vpprimarypath-fill: #dddddd;
    --vpprimarypath-alt-fill: #ffffff;

    /* ==== vpsecondarypath -> Video Preview Secondary Path ==== */
    --vpsecondarypath-fill: #373737;
    --vpsecondarypath-alt-fill: #505050;
    --vpsecondarypath-alt2-fill: #ffffff;

    /* ==== vprenamepath -> Video Preview Rename Path ==== */
    --vprenamepath-fill: #dddddd;
    --vprenamepath-alt-fill: #f2a72f;

    /* ==== vpdeletepath -> Video Preview Delete Path ==== */
    --vpdeletepath-fill: #dddddd;
    --vpdeletepath-alt-fill: #ea2d2d;

    /* ==== votrack -> Volume Track ==== */
    --votrack-bgcolor: #ffffff;

    /* ==== pbrttrack -> Playback Rate Track ==== */
    --pbrttrack-bgcolor: #ffffff;

    /* ==== pbrtoverlay -> Playback Rate Overlay ==== */
    --pbrtoverlay-fill: #363636;
    --pbrtoverlay-alt-fill: #000000;
    --pbrtoverlay-stroke: #363636;
    --pbrtoverlay-alt-stroke: #000000;

    /* ==== pbrttext -> Playback Rate Text ==== */
    --pbrttext-fill: #dddddd;
    --pbrttext-alt-fill: #ffffff;
    --pbrttext-stroke: #dddddd;
    --pbrttext-alt-stroke: #ffffff;

    /* ==== tltrack -> Timeline Track ==== */
    --tltrack-bgcolor: #dfe1e5;

    /* ==== tloverlay -> Timeline Overlay ==== */
    --tloverlay-fill: #797b7e;
    --tloverlay-stroke: #797b7e;

    /* ==== tltext -> Timeline Text ==== */
    --tltext-fill: #363636;
    --tltext-stroke: #363636;

    /* ==== tlthumb -> Timeline Thumb ==== */
    --tlthumb-bgcolor: #1a69e0;

    /* ==== cpctr -> Clip Container ==== */
    --cpctr-bcolor: #dfe1e5;
    --cpctr-bgcolor: transparent;

    /* ==== cpicon -> Clip Icon ==== */
    --cpicon-fill: #363636;

    /* ==== cpstctr -> Clip Setting Container ==== */
    --cpstctr-bcolor: #d2dade;
    --cpstctr-bgcolor: transparent;

    /* ==== cpstlabel -> Clip Setting Label ==== */
    --cpstlabel-color: #1a69e0;
    --cpstlabel-alt-color: #0000ff;

    /* ==== cpstpill -> Clip Setting Pill ==== */
    --cpstpill-bgcolor: #dfe1e5;

    /* ==== cpsticon -> Clip Setting Icon ==== */
    --cpsticon-fill: #363636;
    --cpsticon-alt-fill: #000000;

    /* ==== cpstfield -> Clip Setting Field ==== */
    --cpstfield-bgcolor: #dfe1e5;
    --cpstfield-color: #363636;
    --cpstfield-alt-color: #000000;

    /* ==== cpbarbtn -> Clip Bar Button ==== */
    --cpbarbtn-bcolor: #dbdbdb;
    --cpbarbtn-bgcolor: #f2f2f2;
    --cpbarbtn-alt-bgcolor: #dbdbdb;

    /* ==== cpprimarybarpath -> Clip Primary Bar Path ==== */
    --cpprimarybarpath-fill: #dddddd;
    --cpprimarybarpath-alt-fill: #ffffff;

    /* ==== cpsecondarybarpath -> Clip Secondary Bar Path ==== */
    --cpsecondarybarpath-fill: #373737;
    --cpsecondarybarpath-alt-fill: #ffffff;

    /* ==== cptertiarybarpath -> Clip Tertiary Bar Path ==== */
    --cptertiarybarpath-fill: #dddddd;
    --cptertiarybarpath-alt-fill: #575757;

    /* ==== cpbarlabel -> Clip Bar Label ==== */
    --cpbarlabel-color: #363636;
    --cpbarlabel-alt-color: #000000;

    /* ==== cptogglebtn -> Clip Toggle Button ==== */
    --cptogglebtn-bgcolor: #dfe1e5;

    /* ==== cptoggleicon -> Clip Toggle Icon ==== */
    --cptoggleicon-fill: #1a69e0;
    --cptoggleicon-alt-fill: #0000ff;

    /* ==== gstctr -> General Setting Container ==== */
    --gstctr-bcolor: #d2dade;
    --gstctr-bgcolor: transparent;

    /* ==== gstlabel -> General Setting Label ==== */
    --gstlabel-color: #1a69e0;
    --gstlabel-alt-color: #0000ff;

    /* ==== gstpill -> General Setting Pill ==== */
    --gstpill-bgcolor: #c4c7cc;

    /* ==== gsticon -> General Setting Icon ==== */
    --gsticon-fill: #363636;
    --gsticon-alt-fill: #000000;

    /* ==== gstfield -> General Setting Field ==== */
    --gstfield-bgcolor: #dfe1e5;
    --gstfield-color: #363636;
    --gstfield-alt-color: #000000;

    /* ==== gsttoggleswitch -> General Setting Toggle Switch ==== */
    --gsttoggleswitch-bgcolor: #dfe1e5;

    /* ==== gsttoggleicon -> General Setting Toggle Icon ==== */
    --gsttoggleicon-fill: #acb5c4;

    /* ==== gstsliderctr -> General Setting Slider Container ==== */
    --gstsliderctr-bgcolor: #dfe1e5;

    /* ==== gsttrack -> General Setting Track ==== */
    --gsttrack-bgcolor: #dddddd;
    --gsttrack-alt-bgcolor: #ffffff;

    /* ==== gstdesc -> General General Setting Description ==== */
    --gstdesc-color: #363636;
    --gstdesc-alt-color: #000000;
}

html {
    /* ==== scbar -> Scroll Bar ==== */
    /* --scbar-thumb-transition: background-color 1s ease 1s; */

    /* ==== ioverlay -> Initialization Overlay ==== */
    --ioverlay-transition: opacity 0.5s ease 0s;

    /* ==== cstatuslabel -> Content Status Label ==== */
    --cstatuslabel-transition: opacity 0.5s ease 0s;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-transition: width 0.3s ease 0.2s;

    /* ==== bnamelabel -> Brand Name Label ==== */
    --bnamelabel-transition: opacity 0.2s ease 0s;
    --bnamelabel-alt-transition: opacity 0.2s ease 0.5s;

    /* ==== nbarbtn -> Nav(igation) Bar Button ==== */
    --nbarbtn-transition: background-color 0.3s ease 0s;

    /* ==== nbarpath -> Nav(igation) Bar Path ==== */
    --nbarpath-transition: fill 0.3s ease 0s;

    /* ==== nbarlabel -> Nav(igation) Bar Label ==== */
    --nbarlabel-transition: opacity 0.2s ease 0s, color 0.3s ease 0s;
    --nbarlabel-alt-transition: opacity 0.2s ease 0.5s, color 0.3s ease 0s;

    /* ==== curlabelctr -> Current Recording Label Container ==== */
    --curlabelctr-transition: bottom 0.3s ease 0s;

    /* ==== curgamelabel -> Current Recording Game Label ==== */
    --curgamelabel-transition: opacity 0.2s ease 0s;
    --curgamelabel-alt-transition: opacity 0.2s ease 0.5s;

    /* ==== arresumelabel -> Auto Record Resume Label ==== */
    --arresumelabel-transition: color 0.3s ease 0s, opacity 0.3s ease 0s;

    /* ==== ntogglebtn -> Nav(igation) Toggle Button ==== */
    --ntogglebtn-transition: background-color 0.3s ease 0s;

    /* ==== ntoggleicon -> Nav(igation) Toggle Icon ==== */
    --ntoggleicon-transition: fill 0.3s ease 0s;

    /* ==== dlabel -> Directory Label ==== */
    --dlabel-transition: color 0.3s ease 0s;

    /* ==== sgctr -> Storage Container ==== */
    --sgctr-transition: opacity 0.2s ease 0s;

    /* ==== dstfield -> Directory Setting Field ==== */
    --dstfield-transition: color 0.3s ease 0s;

    /* ==== dbarbtn -> Directory Bar Button ==== */
    --dbarbtn-transition: background-color 0.3s ease 0s;

    /* ==== dbaricon -> Directory Bar Icon ==== */
    --dbaricon-transition: fill 0.3s ease 0s;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-transition: background-color 0.3s ease 0s;

    /* ==== dicon -> Directory Icon ==== */
    --dicon-transition: fill 0.3s ease 0s;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-transition: background-color 0.3s ease 0s;

    /* ==== vtndurlabel -> Video Thumbnail Duration Label ==== */
    --vtndurlabel-transition: color 0.3s ease 0s;

    /* ==== vplabel -> Video Preview Label ==== */
    --vplabel-transition: color 0.3s ease 0s;

    /* ==== vpbtn -> Video Preview Button ==== */
    --vpbtn-transition: background-color 0.2s ease 0s;

    /* ==== vppath -> Video Preview Path ==== */
    --vppath-transition: fill 0.3s ease 0s;

    /* ==== pbctr -> Playback Container ==== */
    --pbctr-transition: opacity 0.2s ease 0s;

    /* ==== strack -> Seek Track ==== */
    --strack-transition: transform 0.2s ease 0s;

    /* ==== mbarbtn -> Media Bar Button ==== */
    --mbarbtn-transition: background-color 0.3s ease 0s;

    /* ==== mbaricon -> Media Bar Icon ==== */
    --mbaricon-transition: fill 0.3s ease 0s;

    /* ==== pbrtlabel -> Playback Rate Label ==== */
    --pbrtlabel-transition: color 0.3s ease 0s;

    /* ==== mslider -> Media Slider ==== */
    --mslider-transition: width 0.1s ease 0s;

    /* ==== mtrack -> Media Track ==== */
    --mtrack-transition: background-color 0.3s ease 0s;

    /* ==== moverlay-> Media Overlay ==== */
    --moverlay-transition: visibility 0s ease 0.1s;
    --moverlay-alt-transition: visibility 0s ease 0s;

    /* ==== pbrtoverlay -> Playback Rate Overlay ==== */
    --pbrtoverlay-transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;

    /* ==== pbrttext -> Playback Rate Text ==== */
    --pbrttext-transition: fill 0.3s ease 0s, stroke 0.3s ease 0s;

    /* ==== cpbar -> Clip Bar ==== */
    --cpbar-transition: width 0.3s ease 0.2s;

    /* ==== cpstctr -> Clip Setting Container ==== */
    --cpstctr-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, opacity 0.2s ease 0s;
    --cpstctr-alt-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, opacity 0.2s ease 0.5s;

    /* ==== cpstlabel -> Clip Setting Label ==== */
    --cpstlabel-transition: color 0.3s ease 0s;

    /* ==== cpsticon -> Clip Setting Icon ==== */
    --cpsticon-transition: fill 0.3s ease 0s;

    /* ==== cpstfield -> Clip Setting Field ==== */
    --cpstfield-transition: color 0.3s ease 0s;

    /* ==== cpbarbtn -> Clip Bar Button ==== */
    --cpbarbtn-transition: background-color 0.3s ease 0s, opacity 0.2s ease 0s;
    --cpbarbtn-alt-transition: background-color 0.3s ease 0s, opacity 0.2s ease 0.5s;

    /* ==== cpbarpath -> Clip Bar Path ==== */
    --cpbarpath-transition: fill 0.3s ease 0s;
    
    /* ==== cpbarlabel -> Clip Bar Label ==== */
    --cpbarlabel-transition: color 0.3s ease 0s;

    /* ==== cptogglebtn -> Clip Toggle Button ==== */
    --cptogglebtn-transition: background-color 0.3s ease 0s;

    /* ==== cptoggleicon -> Clip Toggle Icon ==== */
    --cptoggleicon-transition: fill 0.3s ease 0s;

    /* ==== gstctr -> General Setting Container ==== */
    --gstctr-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;

    /* ==== gstlabel -> General Setting Label ==== */
    --gstlabel-transition: color 0.3s ease 0s;

    /* ==== gsticon -> General Setting Icon ==== */
    --gsticon-transition: fill 0.3s ease 0s;

    /* ==== gstfield -> General Setting Field ==== */
    --gstfield-transition: color 0.3s ease 0s;

    /* ==== gsttoggleswitch -> General Setting Toggle Switch ==== */
    --gsttoggleswitch-transition: background-color 0.3s ease 0s;

    /* ==== gsttoggleicon -> General Setting Toggle Icon ==== */
    --gsttoggleicon-transition: transform 0.3s ease 0s, fill 0.3s ease 0s, background-color 0.3s ease 0s;

    /* ==== gsttrack -> General Setting Track ==== */
    --gsttrack-transition: background-color 0.3s ease 0s;

    /* ==== gstdesc -> General General Setting Description ==== */
    --gstdesc-transition: color 0.3s ease 0s;
}