@font-face {
    font-family: "Lexend";
    src: url("../../assets/font/Lexend/Lexend-VariableFont_wght.ttf");
}

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    /* color variables */
}

html[data-theme='dark'] {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-thumb-bgcolor: #dddddd;

    /* ==== body -> Body ==== */
    --body-bgcolor: #5f646a;

    /* ==== tbtn -> Title Button ==== */
    --tbtn-hover-bgcolor: #3a3a3a;

    --tbtn-svg-fill: #cccccc;

    /* ==== tcbtn -> Title Close Button ==== */
    --tcbtn-hover-bgcolor: #ff0000;

    /* ==== vlabel -> Version Label ==== */
    --vlabel-color: #dddddd;

    /* ==== inito -> Initialization Overlay ==== */
    --inito-svg-fill: #dddddd;

    --inito-span-color: #dddddd;

    /* ==== islabel -> Initialization Status Label ==== */
    --islabel-color: #dddddd;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: #373737;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-hr-bgcolor: #a4a4a4;

    /* ==== ldp -> Logo Display ==== */
    --ldp-svg-fill: #dddddd;

    --ldp-h1-color: #dddddd;

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-hover-bgcolor: #575757;

    --nbtn-span-color: #dddddd;

    --nbtn-svg-fill: #dddddd;

    /* ==== rbtn -> Record Button ==== */
    --rbtn-bcolor: #575757;
    --rbtn-bgcolor: #373737;
    --rbtn-hover-bgcolor: #575757;
    --rbtn-active-bgcolor: #dddddd;

    --rbtn-svg-active-fill: #ff0000;

    --rbtn-span-active-color: #ff0000;

    /* ==== rctr -> Recording Container ==== */
    --rctr-bcolor: #575757;
    --rctr-bgcolor: #575757;

    /* ==== crtlabel -> Current Recording Time Label ==== */
    --crtlabel-color: #14dd40;

    /* ==== rglabel -> Recording Game Label ==== */
    --rglabel-color: #dddddd;

    /* ==== rarlabel -> Resume Auto Record Label ==== */
    --rarlabel-color: #88959d;
    --rarlabel-hover-color: #dddddd;

    /* ==== nt -> Nav(igation) Toggle ==== */
    --ntbtn-hover-bgcolor: #505050;

    --ntbtn-svg-fill: #dddddd;

    /* ==== cb -> Content Block ==== */
    --cblock-bgcolor: #4a4c51;

    /* ==== gslabel -> General Status Label ==== */
    --gslabel-bgcolor: #373737;
    --gslabel-color: #dddddd;

    /* ==== csection -> Content Section ==== */
    --csection-h2-color: #dddddd;

    --csection-hr-bgcolor: #a4a4a4;

    /* ==== sctr1 -> Section Container 1 ==== */
    --sctr1-bgcolor: #414344;

    /* ==== sctr2 -> Section Container 2 ==== */
    --sctr2-h3-color: #c9c9c9;

    --sctr2-hr-bgcolor: #747474;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bcolor: transparent;
    --dctr-bgcolor: #373737;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-hover-bgcolor: #505050;
    
    --dbtn-svg-fill: #dddddd;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-hover-bgcolor: #505050;

    --vpctr-h4-color: #dddddd;

    --vpctr-p-color: #dddddd;

    /* ==== vrbtn -> Video Rename Button ==== */
    --vrbtn-hover-bgcolor: #f2a72f;

    /* ==== vdbtn -> Video Delete Button ==== */
    --vdbtn-hover-bgcolor: #ea2d2d;

    /* ==== vobtn -> Video Options Button ==== */
    --vobtn-svg-fill: #dddddd;
    --vobtn-hover-svg-fill: white;

    /* ==== ppsicon -> Play Pause Status Icon ==== */
    --ppsicon-svg-fill: rgba(255, 255, 255, 0.7);

    /* ==== pthumb -> Playback Thumb ==== */
    --pthumb-bscolor: #00a9ff;

    /* ==== ptrack -> Playback Track ==== */
    --ptrack-bgcolor: rgba(137, 137, 137, 0.4);

    /* ==== pbar -> Playback Bar ==== */
    --pbar-lgradientcolor: rgba(0, 0, 0, 0.75);

    /* ==== pbtn -> Playback Button ==== */
    --pbtn-svg-fill: #dddddd;

    /* ==== slabel -> Speed Label ==== */
    --slabel-color: #dddddd;

    /* ==== pinput -> Playback Input ==== */
    --pinput-thumb-bgcolor: #00a9ff;

    /* ==== vsl -> Volume Slider ==== */
    --vsl-thumb-bshadowcolor: #00a9ff;
    --vsl-track-bgcolor: #dddddd;

    /* ==== vtlabel -> Video Time Label ==== */
    --vtlabel-color: #dddddd;

    /* ==== tctr -> Timeline Container ==== */
    --tslider-bgcolor: #373737;

    /* ==== ttrack -> Timeline Track ==== */
    --otrack-fill: #8e8e8e;
    --otrack-stroke: #8e8e8e;

    --otrack-text-fill: #dddddd;
    --otrack-text-stroke: #dddddd;

    /* ==== tls -> Timeline Slider ==== */
    --tthumb-bgcolor: #dddddd;

    /* ==== stctr -> Setting Container ==== */
    --stctr-hover-bcolor: transparent;
    --stctr-hover-bgcolor: #3c3c3c;

    --stctr-h4-color: #dddddd;

    --stctr-p-color: #dddddd;

    /* ==== stpill -> Setting Pill ==== */
    --stpill-bgcolor: #373737;

    --stpill-inputselect-bgcolor: #5a5a5a;
    --stpill-inputselect-color: #dddddd;

    --stpill-svg-fill: #dddddd;
    --stpill-svg-active-fill: #2da347;

    /* ==== sttswitch -> Setting Toggle Switch ==== */
    --sttswitch-bgcolor: #5a5a5a;
    --sttswitch-active-bgcolor: #2da347;

    --sttswitch-svg-bgcolor: white;
    --sttswitch-svg-fill: #5a5a5a;
}


html[data-theme='light'] {
    /* ==== sbar -> Scroll Bar ==== */
    --sbar-thumb-bgcolor: #cccccc;

    /* ==== body -> Body ==== */
    --body-bgcolor: white;

    /* ==== tbtn -> Title Button ==== */
    --tbtn-hover-bgcolor: #c3c3c3;

    --tbtn-svg-fill: #363636;

    /* ==== tcbtn -> Title Close Button ==== */
    --tcbtn-hover-bgcolor: #ff0000;

    /* ==== vlabel -> Version Label ==== */
    --vlabel-color: #363636;

    /* ==== inito -> Initialization Overlay ==== */
    --inito-svg-fill: #363636;

    --inito-span-color: #363636;

    /* ==== islabel -> Initialization Status Label ==== */
    --islabel-color: #363636;

    /* ==== nblock -> Nav(igation) Block ==== */
    --nblock-bgcolor: #f2f2f2;

    /* ==== nbar -> Nav(igation) Bar ==== */
    --nbar-hr-bgcolor: #d0d0d0;

    /* ==== ldp -> Logo Display ==== */
    --ldp-svg-fill: #363636;

    --ldp-h1-color: #363636;

    /* ==== nbtn -> Nav(igation) Button ==== */
    --nbtn-hover-bgcolor: #dbdbdb;

    --nbtn-span-color: #363636;

    --nbtn-svg-fill: #363636;

    /* ==== rbtn -> Record Button ==== */
    --rbtn-bcolor: #dbdbdb;
    --rbtn-bgcolor: #f2f2f2;
    --rbtn-hover-bgcolor: #dbdbdb;
    --rbtn-active-bgcolor: #dddddd;

    --rbtn-svg-active-fill: #ff0000;

    --rbtn-span-active-color: #ff0000;

    /* ==== rctr -> Recording Container ==== */
    --rctr-bcolor: #dbdbdb;
    --rctr-bgcolor: #dbdbdb;

    /* ==== crtlabel -> Current Recording Time Label ==== */
    --crtlabel-color: #14dd40;

    /* ==== rglabel -> Recording Game Label ==== */
    --rglabel-color: #363636;

    /* ==== rarlabel -> Resume Auto Record Label ==== */
    --rarlabel-color: #88959d;
    --rarlabel-hover-color: #363636;

    /* ==== nt -> Nav(igation) Toggle ==== */
    --ntbtn-hover-bgcolor: #dfe1e5;

    --ntbtn-svg-fill: #1a69e0;

    /* ==== cb -> Content Block ==== */
    --cblock-bgcolor: #f2f2f2;

    /* ==== gslabel -> General Status Label ==== */
    --gslabel-bgcolor: #f2f2f2;
    --gslabel-color: #363636;

    /* ==== csection -> Content Section ==== */
    --csection-h2-color: #363636;

    --csection-hr-bgcolor: #d0d0d0;

    /* ==== sctr1 -> Section Container 1 ==== */
    --sctr1-bgcolor: transparent;

    /* ==== sctr2 -> Section Container 2 ==== */
    --sctr2-h3-color: #808080;

    --sctr2-hr-bgcolor: transparent;

    /* ==== dctr -> Directory Container ==== */
    --dctr-bcolor: #dfe1e5;
    --dctr-bgcolor: transparent;

    /* ==== dbtn -> Directory Button ==== */
    --dbtn-hover-bgcolor: #dfe1e5;

    --dbtn-svg-fill: #1a69e0;

    /* ==== vpctr -> Video Preview Container ==== */
    --vpctr-hover-bgcolor: #dfe1e5;

    --vpctr-h4-color: #1a69e0;

    --vpctr-p-color: #363636;

    /* ==== vrbtn -> Video Rename Button ==== */
    --vrbtn-hover-bgcolor: #dd3a3a;

    /* ==== vdbtn -> Video Delete Button ==== */
    --vdbtn-hover-bgcolor: #dd3a3a;

    /* ==== vobtn -> Video Options Button ==== */
    --vobtn-svg-fill: #363636;
    --vobtn-hover-svg-fill: white;

    /* ==== ppsicon -> Play Pause Status Icon ==== */
    --ppsicon-svg-fill: rgba(255, 255, 255, 0.7);

    /* ==== pthumb -> Playback Thumb ==== */
    --pthumb-bscolor: #00a9ff;

    /* ==== ptrack -> Playback Track ==== */
    --ptrack-bgcolor: rgba(137, 137, 137, 0.4);

    /* ==== pbar -> Playback Bar ==== */
    --pbar-lgradientcolor: rgba(0, 0, 0, 0.75);

    /* ==== pbtn -> Playback Button ==== */
    --pbtn-svg-fill: #dddddd;

    /* ==== slabel -> Speed Label ==== */
    --slabel-color: #dddddd;

    /* ==== pinput -> Playback Input ==== */
    --pinput-thumb-bgcolor: #00a9ff;

    /* ==== vsl -> Volume Slider ==== */
    --vsl-thumb-bshadowcolor: #00a9ff;
    --vsl-track-bgcolor: #dddddd;

    /* ==== vtlabel -> Video Time Label ==== */
    --vtlabel-color: #dddddd;

    /* ==== tctr -> Timeline Container ==== */
    --tslider-bgcolor: #dfe1e5;

    /* ==== ttrack -> Timeline Track ==== */
    --otrack-fill: #797b7e;
    --otrack-stroke: #797b7e;

    --otrack-text-fill: #363636;
    --otrack-text-stroke: #363636;

    /* ==== tls -> Timeline Slider ==== */
    --tthumb-bgcolor: #1a69e0;

    /* ==== stctr -> Setting Container ==== */
    --stctr-hover-bcolor: #d2dade;
    --stctr-hover-bgcolor: transparent;

    --stctr-h4-color: #1a69e0;

    --stctr-p-color: #363636;

    /* ==== stpill -> Setting Pill ==== */
    --stpill-bgcolor: #c4c7cc;

    --stpill-inputselect-bgcolor: #dfe1e5;
    --stpill-inputselect-color: #363636;

    --stpill-svg-fill: #363636;
    --stpill-svg-active-fill: #2da347;

    /* ==== sttswitch -> Setting Toggle Switch ==== */
    --sttswitch-bgcolor: #dfe1e5;
    --sttswitch-active-bgcolor: #2da347;

    --sttswitch-svg-bgcolor: white;
    --sttswitch-svg-fill: #acb5c4;
}

html {
    /* --sbar-thumb-transition: background-color 10s ease 0s; */

    --pctr-transition: opacity 0.2s ease 0s;

    --ptrack-transition: transform 0.2s ease 0s;

    --pbtn-transition: background-color 0.3s ease 0s;
    --pbtn-svg-transition: fill 0.3s ease 0s;

    --vsl-transition: width 0.1s ease 0s;
    --ssl-transition: width 0.1s ease 0s;

    --nbar-transition: width 0.3s ease 0.2s;
    --nbar-active-transition: width 0.3s ease 0.2s;

    --ldp-h1-transition: opacity 0.2s ease 0s;
    --ldp-h1-active-transition: opacity 0.2s ease 0.5s;

    --nbtn-transition: background-color 0.3s ease 0s;

    --nbtn-span-transition: opacity 0.2s ease 0s;
    --nbtn-span-active-transition: opacity 0.2s ease 0.5s;

    --rctr-transition: bottom 0.3s ease 0s;

    --rglabel-transition: opacity 0.2s ease 0s;
    --rglabel-active-transition: opacity 0.2s ease 0.5s;

    --rarlabel-transition: color 0.3s ease 0s, opacity 0.2s ease 0s;

    --ntbtn-transition: background-color 0.3s ease 0s;

    --stctr-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;

    --sttswitch-transition: background-color 0.3s ease 0s;
    --sttswitch-svg-transition: transform 0.3s ease 0s;

    --vpctr-transition: background-color 0.2s ease 0s;
    --vobtn-transition: background-color 0.2s ease 0s;
    --vobtn-svg-transition: fill 0.2s ease 0s;

    --dbtn-transition: background-color 0.3s ease 0s;
}