#bar-title {
    align-items: center;
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#label-version {
    flex: 0 0 fit-content;
    margin-left: var(--vlabel-lmargin);

    color: var(--vlabel-color);
    font-size: var(--vlabel-fsize);
    font-weight: var(--vlabel-fweight);
}

.title-btn {
    flex: 0 0 fit-content;
    padding: var(--tbtn-vpadding) var(--tbtn-hpadding);

    -webkit-app-region: no-drag;
}

#btn-minimize {
    margin-left: auto;
}

.title-btn:hover {
    background-color: var(--tbtn-hover-bgcolor);
}

#btn-close:hover {
    background-color: #ff0000;
}

.title-btn > svg {
    display: block;
    height: var(--tbtn-svg-length);
    width: var(--tbtn-svg-length);

    fill: var(--tbtn-svg-fill);
}