#bar-title {
    align-items: center;

    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
}

#bar-title > span {
    flex: 0 0 fit-content;
    margin-left: var(--tbar-span-lmargin);

    color: var(--tbar-span-color);
    font-size: var(--tbar-span-fsize);
    font-weight: var(--tbar-span-fweight);
}

.title-btn {
    flex: 0 0 fit-content;
    padding: var(--tbtn-vpadding) var(--tbtn-hpadding);

    -webkit-app-region: no-drag;
}

.title-btn:hover {
    background-color: var(--tbtn-alt-bgcolor);
}

#btn-minimize {
    margin-left: auto;
}

#btn-close:hover {
    background-color: var(--tcbtn-alt-bgcolor);
}

.title-icon {
    display: block;
    height: var(--ticon-length);
    width: var(--ticon-length);

    fill: var(--ticon-fill);
}