/* Positioning */
/* Display & Box Model */
/* Other */

/**/ /* means unused */ 

/* development colors */
:root {
    --def-text-color: black;

    --body-color: #78ABA8;

    --title-bar-btn-color: #EF9C66;
    --title-bar-btn-hover-color: #3a3a3a;
    --title-bar-svg-color: black;

    --nav-area-color: #C8CFA0;

    --nav-bar-color: #FCDC94;
    --nav-bar-logo-color: black;
    --nav-bar-btn-color: #EF9C66;
    --nav-bar-btn-hover-color: #3a3a3a;
    --nav-bar-svg-color: black;
    --nav-bar-label-color: black;

    --nav-expander-color: #EF9C66;
    --nav-expander-hover-color: #3a3a3a;

    --nav-content-area-color: #C8CFA0;
}

/* regular colors */
/* :root {
    --def-text-color: #dddddd;

    --body-color: #535c68;

    --title-bar-btn-color: transparent;
    --title-bar-btn-hover-color: #3a3a3a;
    --title-bar-svg-color: #cccccc;

    --nav-area-color: transparent;

    --nav-bar-color: #373738;
    --nav-bar-logo-color: red;
    --nav-bar-btn-color: transparent;
    --nav-bar-btn-hover-color: #777777;
    --nav-bar-svg-color: #dddddd;
    --nav-bar-label-color: var(--def-text-color);

    --nav-expander-color: var(--nav-bar-color);
    --nav-expander-hover-color: lime;

    --nav-content-area-color: rgba(71, 73, 75, 0.8);
} */

:root {
    --def-border-radius: 10px;

    --title-bar-btn-height: 25px; /**/
    --title-bar-btn-width: 40px; /**/
    --title-bar-btn-h-padding: calc((var(--title-bar-btn-width) - var(--title-bar-svg-length)) / 2);
    --title-bar-btn-v-padding: calc((var(--title-bar-btn-height) - var(--title-bar-svg-length)) / 2);
    --title-bar-svg-length: 10px;

    --client-area-gap: 20px;

    --nav-bar-width: 70px; /**/
    --nav-bar-h-padding: calc((var(--nav-bar-width) - var(--nav-bar-btn-width)) / 2);
    --nav-bar-v-padding: 10px;
    --nav-bar-gap: 5px;

    --nav-bar-logo-length: 60px;
    --nav-bar-logo-h-padding: 10px;
    --nav-bar-logo-v-padding: 10px;

    --nav-bar-btn-height: 40px; /**/
    --nav-bar-btn-width: 40px; /**/
    --nav-bar-btn-h-padding: calc((var(--nav-bar-btn-width) - var(--nav-bar-svg-length)) / 2);
    --nav-bar-btn-v-padding: calc((var(--nav-bar-btn-height) - var(--nav-bar-svg-length)) / 2);
    --nav-bar-btn-border-radius: var(--def-border-radius);
    --nav-bar-btn-gap: 20px;
    --nav-bar-svg-length: 20px;

    --nav-expander-width: 10px;
    --nav-expander-border-radius: var(--def-border-radius);

    --content-area-border-radius: var(--def-border-radius);

    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;

    background-color: var(--body-color);
}

div#title-bar {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    justify-content: end;
}

div#title-bar > button {
    border: none;
    flex: 0 0 fit-content;
    padding: var(--title-bar-btn-v-padding) var(--title-bar-btn-h-padding);

    background-color: var(--title-bar-btn-color);
    line-height: 0;
}

div#title-bar > button > svg {
    height: var(--title-bar-svg-length);
    width: var(--title-bar-svg-length);

    fill: var(--title-bar-svg-color);
}

div#title-bar > button#minimize:hover,
div#title-bar > button#maximize-restore:hover {
    background-color: var(--title-bar-btn-hover-color);
}

div#title-bar > button#close:hover {
    background-color: red;
}

div#client-area {
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: row nowrap;
    gap: var(--client-area-gap);
}

div#client-area > div#nav-area {
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;

    background-color: var(--nav-area-color);
}

div#client-area > div#nav-area > nav#nav-bar {
    align-items: center;
    display: flex;
    flex: 1 1 fit-content;
    flex-flow: column nowrap;
    gap: var(--nav-bar-gap);
    padding: var(--nav-bar-v-padding) var(--nav-bar-h-padding);

    background-color: var(--nav-bar-color);
}

div#client-area > div#nav-area.expanded > nav#nav-bar {
    align-items: stretch;
}

div#client-area > div#nav-area > nav#nav-bar > svg {
    align-self: center;
    flex: 0 0 auto;
    height: var(--nav-bar-logo-length);
    padding: var(--nav-bar-logo-v-padding) var(--nav-bar-logo-h-padding);
    width: var(--nav-bar-logo-length);

    fill: var(--nav-bar-logo-color);
}

div#client-area > div#nav-area > nav#nav-bar > button {
    align-items: center;
    border: none;
    border-radius: var(--nav-bar-btn-border-radius);
    display: flex;
    flex: 0 0 fit-content;
    flex-flow: row nowrap;
    gap: var(--nav-bar-btn-gap);
    padding: var(--nav-bar-btn-v-padding) var(--nav-bar-btn-h-padding);

    background-color: var(--nav-bar-btn-color);
    line-height: 0;
}

div#client-area > div#nav-area > nav#nav-bar > button:hover {
    background-color: var(--nav-bar-btn-hover-color);
}

div#client-area > div#nav-area > nav#nav-bar > button > svg {
    flex: 0 0 auto;
    height: var(--nav-bar-svg-length);
    width: var(--nav-bar-svg-length);

    fill: var(--nav-bar-svg-color);
}

div#client-area > div#nav-area > nav#nav-bar > button > h3 {
    display: none;
    flex: 1 1 auto;
    margin: 0;

    color: var(--nav-bar-label-color);
}

div#client-area > div#nav-area.expanded > nav#nav-bar > button > h3 {
    display: block;
}

div#client-area > div#nav-area > div#nav-expander {
    border-radius: 0 var(--nav-expander-border-radius) 0 0;
    flex: 0 0 auto;
    width: var(--nav-expander-width);

    background: var(--nav-expander-color);
}

div#client-area > div#nav-area > div#nav-expander:hover {
    background-color: var(--nav-expander-hover-color);
}

div#client-area > div#content-area {
    border-radius: var(--content-area-border-radius) 0 0;
    flex: 1 1 fit-content;
    margin: 0;

    background-color: var(--nav-content-area-color);
}